<h4>We take your privacy seriously. If you are concerned about the personal data we hold about you, you may request;</h4>

<h4><br>1. A copy of all the information we hold on you to be sent to you by email.</h4>
<h4><br></h4>
<h4>2. Request that all data, whether in digital or hard copy format that we hold about you be deleted and/or destroyed.</h4>
<p>Please note that we are required to keep certain information about you as a property purchaser or seller in Bansko. These are documents and proof of identity required by Bulgarian law and will be held indefinitely in case of future legal questions regarding ownership, taxes, bills and payments.</p>
<h4><br></h4>
<div class="form4page">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="vc_col-sm-4"> 
            <label>Name </label><p>your full name</p>
        </div>
        <div class="vc_col-sm-8">
            [text* your-name] 
        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="vc_col-sm-4"> 
            <label>Email </label><p>a valid email</p>
        </div>
        <div class="vc_col-sm-8">
            [email* your-email] 
        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="vc_col-sm-4">
            <label>Telephone</label><p>If you would like me to call you</p>
        </div>
        <div class="vc_col-sm-8">
            [text* your-telephone] 
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="vc_col-sm-4">
            <label>How did we communicate with you?</label>
        </div>
        <div class="vc_col-sm-8">
            [checkbox checkbox-926 "sold a property via your company"]
            [checkbox checkbox-926 "bought a property via your company"]
            [checkbox checkbox-926 "enquired but did not sell"]
            [checkbox checkbox-926 "Enquired but did not buy"]
        </div>
    </div>

    <div style="text-align: left; font-size: 1.5em; padding-top: ; padding-bottom: ; color: #dd3333" class="bold-"><span>Action Required</span></div>
    <p></p>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="vc_col-sm-4">
            <label>Please:</label><p>How can we help?</p>
        </div>
        <div class="vc_col-sm-8">
            [checkbox checkbox-667 "Send me the Data you hold about me"]
            [checkbox checkbox-667 "Engage my 'right to be forgotten' and delete or destroy my personal information other than that used in record keeping about my purchase or sale of a property through your services."]
            [checkbox checkbox-667 "Delete my email and/or postal address from your records, where such data is not required by law to be maintained as a part of our legal obligations of record keeping"]
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="vc_col-sm-4">
            <label>Comments</label><p>Anything else?</p>
        </div>
        <div class="vc_col-sm-8">
            [textarea your-comments] 
        </div>
    </div>
</div>
<style>
    .form4page .vc_row{
        margin-bottom: 15px;
    }
    .form4page .vc_row .vc_col-sm-4{
        text-align: right;
    }
    .form4page .vc_row .vc_col-sm-4 label{
        font-weight: bold;
        margin: 0;
    }
    .form4page .vc_row .vc_col-sm-4 p{
        line-height: 10px;
    }    
    .form4page .vc_row .vc_col-sm-8 span.wpcf7-list-item{
        padding-left: 0;
        padding-bottom: 10px;
        margin-left: 0;
    }
</style>
[submit "Send"]



<div class="entry-content clearfix">
    <p>Bluenote EOOD Ltd Bulgaria Trading as PropertyBansko.com<br>
        TERMS AND CONDITIONS</p>
    <p>INTRODUCTION</p>
    <p>The Terms and Conditions (“Terms”) describe how Ulitza. Dobri Chintulov Street 11,<br>
        Bansko, Blagoevgrad, Bulgaria, 2770 (“Property Bansko,” “we,” and “our”) regulates your use of this website www.propertybansko.com (the “Site”).</p>
    <p>Please read the following information carefully to understand our practices regarding your use of the Site.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.commay change the Terms at any time.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.commay inform you of the changes to the Terms using the available means of communication.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.com recommends you to check the Site frequently to see the actual version of the Terms and their previous versions.</p>
    <p>If you represent a legal entity, you certify that you entitled by such a legal entity to conclude the Terms as the legal entity you represent.</p>
    <p><strong>PRIVACY POLICY</strong><br>
        Our Privacy Policy is available on a separate page. Our Privacy Policy explains to you how we process information about you. You shall understand that through your use of the Site you acknowledge the processing of this information shall be undertaken in accordance with the Privacy Policy.</p>
    <p><strong>Your use of this website</strong></p>
    <p>When you as a user can register on the Site or with us via any of our affiliated websites and property portals that we may advertise on.</p>
    <p>When using the Site, you shall be responsible for ensuring the confidentiality of your account, password and other credentials and for secure access to your device.</p>
    <p>You shall not assign your account to anyone.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.com is not responsible for unauthorized access to your account that results from misappropriation or theft of your account.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.commay refuse or cancel service, terminate your account, and remove or edit content.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.comdoes not knowingly collect personal data from persons under the age of 16 (sixteen).</p>
    <p>If you are under 16 (sixteen) years old, you may not use the Site and may not enter into the Terms under any circumstances.]</p>
    <p><strong>SERVICES</strong><br>
        The Site allows you to use Services available on the Site.</p>
    <p>As an estate agency our income derives from the service of assisting you to buy or sell a property or from advisory and consultancy services.</p>
    <p>We set fees for you using our service.</p>
    <p>All prices are published separately on relevant pages on the Site. We may, at our sole discretion, at any time change any fees.</p>
    <p>We may use certified payment systems which also may have their commissions. Such commissions may be implied on you when you choose a particular payment system.</p>
    <p>Detailed information about commissions of such payment systems may be found on their websites.</p>
    <p><strong>THIRD PARTY SERVICES</strong><br>
        The Site may include links to other sites, applications, and platforms (hereinafter the “Linked Sites”).</p>
    <p>Companies and professionals we introduce you to in the execution of a purchase or sale of a property will charge separate fees for their services. These fees are the responsibility of the service provider and you as a user of these third party services.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.comdoes not control the Linked Sites, and shall not be responsible for the content and other materials of the Linked Sites. Bluenote EOOD Ltd / PropertyBansko.com makes these links available to you for providing the functionality or services on the Site.</p>
    <p><strong>PROHIBITED USES AND INTELLECTUAL PROPERTY</strong><br>
        Bluenote EOOD Ltd / PropertyBansko.com grants you a non-transferable, non-exclusive, revocable license to access and use the Site in accordance with the Terms.</p>
    <p>You shall not use the Site for unlawful or prohibited purpose.</p>
    <p>You may not use the Site in a way that may disable, damage, or interfere in the Site.</p>
    <p>All content present on the Site includes text, code, graphics, logos, images, compilation, software used on the Site (hereinafter and hereinbefore the “Content”).</p>
    <p>The Content is the property of the Company or its contractors and protected by intellectual property laws that protect such rights.</p>
    <p>You agree to use all copyright and other proprietary notices or restrictions contained in the Content and you are prohibited from changing the Content.</p>
    <p>You may not publish, transmit, modify, reverse engineer, participate in the transfer, or create and sell derivative works, or in any way use any of the Content.</p>
    <p>Your enjoyment of the Site shall not entitle you to make any illegal and disallowed use of the Content, and in particular you shall not change proprietary rights or notices in the Content.</p>
    <p>You shall use the Content only for your personal and non-commercial use. Bluenote EOOD Ltd / PropertyBansko.com does not grant you any licenses to the intellectual property of the Company.</p>
    <p>THE COMPANY MATERIALS<br>
        By posting, uploading, inputting, providing or submitting your Content you are granting the Company to use your Content in connection with the operation of Company’s business including, but not limited to, the rights to transmit, publicly display, distribute, publicly perform, copy, reproduce, and translate your Content; and to publish your name in connection with your Content.</p>
    <p>No compensation shall be paid with regard to the use of your Content.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.com shall have no obligation to publish or use any Content you may send us and may remove your Content at any time.</p>
    <p>By posting, uploading, inputting, providing or submitting your Content you warrant and represent that you own all of the rights to your Content.</p>
    <p>DISCLAIMER OF CERTAIN LIABILITIES<br>
        The information available via the Site may include typographical errors or inaccuracies. Bluenote EOOD Ltd / PropertyBansko.com shall not be liable for these inaccuracies and errors.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.com makes no representations about the availability, accuracy, reliability, suitability, and timeliness of the Content contained on and services available on the Site.</p>
    <p>To the maximum extent allowed by the applicable law, all such Content and services are provided on the “as is” basis. Bluenote EOOD Ltd / PropertyBansko.com disclaims all warranties and conditions regarding this Content and services, including warranties and provisions of merchantability, fitness for a certain purpose.</p>
    <p>To the maximum extent permitted by the applicable law, in no event shall the Company be liable for any direct, indirect, incidental, consequential, special, punitive damages including, but not limited to, damages for loss of enjoyment, data or profits, in the connection with the use or execution of the Site in the context of the inability or delay to use the Site or its services, or for any Content of the Site, or otherwise arising out of the uset of the Site, based on contract and non-contract liability or other reason.</p>
    <p>If the exclusion or limitation of liability for damages, whether consequential or incidental, are prohibited in a particular case, the exclusion or limitation of liability shall not apply to you.</p>
    <p>INDEMNIFICATION<br>
        You agree to indemnify, defend and hold harmless the Company, its managers, directors, employees, agents, and third parties, for any costs, losses, expenses (including attorneys’ fees), liabilities regarding or arising out of your enjoyment of or inability to enjoy the Site or its services and Company’s services and products, your violation of the Terms or your violation of any rights of third parties, or your violation of the applicable law. The may assume the exclusive defence and you shall cooperate with the Company in asserting any available defences.</p>
    <p>TERMINATION AND ACCESS RESTRICTION<br>
        Bluenote EOOD Ltd / PropertyBansko.com may terminate your access and account to the Site and its related services or any part at any time, without notice, in case of your violation of the Terms.</p>
    <p>MISCELLANEOUS<br>
        The governing law of the Terms shall be the substantive laws of the country where the Company is set up, Bulgaria EU except the conflict of laws rules.</p>
    <p>You shall not use the Site in jurisdictions that do not give effect to all provisions of the Terms.</p>
    <p>No joint venture, partnership, employment, or agency relationship shall be implied between you and the Company as a result of the Terms or use of the Site.</p>
    <p>Nothing in the Terms shall be a derogation of the Company’s right to comply with governmental, court, police, and law enforcement requests or requirements regarding your enjoyment of the Site.</p>
    <p>If any part of the Terms is determined to be void or unenforceable in accordance with applicable law then the void or unenforceable clauses will be deemed superseded by valid and enforceable clauses shall be similar to the original version of the Terms and other parts and sections of the Terms shall be applicable to you and the Company.<br>
        The Terms constitute the entire agreement between you and the Company regarding the enjoyment of the Site and the Terms supersede all prior or communications and offers, whether electronic, oral or written, between you and the Company.</p>
    <p>Bluenote EOOD Ltd / PropertyBansko.comand its affiliates shall not be liable for a failure or delay to fulfil its obligations where the failure or delay results from any cause beyond Company’s reasonable control, including technical failures, natural disasters, blockages, embargoes, riots, acts, regulation, legislation, or orders of government, terroristic acts, war, or any other force outside of Company’s control.</p>
    <p>In case of controversies, demands, claims, disputes, or causes of action between the Company and you relating to the Site or other related issues, or the Terms, you and the Company agree to attempt to resolve such controversies, demands, claims, disputes, or causes of action by good faith negotiation, and in case of failure of such negotiation, exclusively through the courts of the country where the Company is set up.</p>
    <p>Complaints<br>
        We are committed to resolve any complaints about our collection or use of your personal data. If you would like to make a complaint regarding this Terms or our practices in relation to your personal data, please contact us at: ciara@propertybansko.com.</p>
    <p>We will reply to your complaint as soon as we can and in any event, within 30 days. We hope to resolve any complaint brought to our attention, however if you feel that your complaint has not been adequately resolved, you reserve the right to contact your local data protection supervisory authority.</p>
    <p><strong>Contact Information</strong><br>
        We welcome your comments or questions about this Terms. You may contact us in writing at ciara@propertybansko.com<br>
        Ulitza. Dobri Chintulov Street 11,<br>
        Bansko, Blagoevgrad, Bulgaria, 2770<br>
        +359 (0)890 311 637</p>
    <div data-uniq="5b160532c1f65" class="uniq-5b160532c1f65 formcraft-css form-live align-left"><div class="fc-pagination-cover fc-pagination-1">
            <div class="fc-pagination" style="width: 920px">
                <div class="pagination-trigger  active" data-index="0">
                    <span class="page-number"><span>1</span></span>
                    <span class="page-name ">Step 1</span>

                </div>
            </div>
        </div>
        </div>
                                                                    
</div>

http://bulgarianbestproperties.com/privacy-policy/
http://bulgarianbestproperties.com/gdpr-request-an-action/
http://bulgarianbestproperties.com/data-access/
http://bulgarianbestproperties.com/terms-conditions/