/**
 * Reset styles
 */
body {
	text-align: left;
	padding-left: 0 !important;
}

*[id^=jchat], *[class^=jchat] {
	line-height: normal;
	font-weight: normal;
}

div[id^=jchat] * {
	box-sizing: content-box;
}

#jchat_webrtc_video:checked+label:before {
	content: none;
}

#jchat_base {
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	height: 26px;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",
		sans-serif;
	font-size: 11px;
	z-index: 10001;
	width: 100%;
	margin: initial;
}

#jchat_chatboxes {
	height: 25px;
	overflow: hidden;
	float: right;
}

#jchat_chatboxes_wide {
	height: 25px;
	width: 0;
}

#jchat_chatbox_left {
	float: right;
	cursor: pointer;
	width: 10px;
	height: 18px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 6px -350px;
	padding-left: 11px;
	padding-top: 6px;
	color: #333;
	border-left: 1px solid #ccc;
	margin-top: 1px;
}

#jchat_chatbox_right {
	float: right;
	cursor: pointer;
	width: 17px;
	height: 18px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 8px -572px;
	padding-left: 3px;
	padding-top: 6px;
	color: #333;
	border-left: 1px solid #ccc;
	margin-top: 1px;
}

.jchat_chatbox_right_last {
	background-position: 8px -611px !important;
	cursor: default !important;
	color: #a7a7a7 !important;
}

.jchat_chatbox_left_last {
	background-position: 6px -389px !important;
	cursor: default !important;
	color: #a7a7a7 !important;
}

.jchat_chatbox_lr {
	display: none !important;
}

.jchat_chatbox_lr_mouseover {
	background-color: #fff !important;
}

#jchat_optionsbutton, #jchat_closesidebarbutton, #jchat_maximizebutton, #jchat_loginbutton {
	width: 22px;
	border: none;
	border-left: 2px solid #CCC;
	display: none;
	border-radius: 0;
}

.jchat_userstabclick #jchat_optionsbutton,
.jchat_userstabclick #jchat_closesidebarbutton,
.jchat_userstabclick #jchat_maximizebutton,
.jchat_userstabclick #jchat_loginbutton
	{
	display: block;
}

#jchat_wall_popup {
	top: 0;
	right: 0;
	height: 50%;
	z-index: 10003;
    box-shadow: 0 -5px 25px rgba(0,0,0,.2)!important;
}

#jchat_wall_popup.hidden {
	z-index: 10000;
}

#jchat_wall_popup .jchat_userstabtitle {
	cursor: pointer;
}

#jchat_wall_popup.jchat_wall_minimized {
	top: inherit;
	bottom: 50%;
	height: 31px;
	transition: all 0.2s linear;
}

#jchat_wallbutton {
	width: 18px;
	border-right: 1px solid #ccc;
}

#jchat_wallbutton img {
	width: 24px;
	position: relative;
	margin: -25px 0 0 0;
}

#jchat_maximize_wall {
	display: inline-block;
	width: 22px;
	height: 20px;
	float: right;
	margin-top: -8px;
}

#jchat_userstab {
	width: 258px;
	background-color: #e6e6e6;
	border: 1px solid #cdcbca;
}

#jchat_userstab.maximized {
	width: 100% !important;
}

#jchat_userstab.maximized span{
	min-width: 30px;
}

#jchat_userstab.jchat_userstabclick {
	text-decoration: underline;
	color: #111 !important;
	background-position: 5px 3px !important;
	border-radius: 0;
	background-color: #F4F6F9;
}

*.jchat_sidebar_hidden {
	display: none !important;
}

.jchat_closebox {
	width: 21px;
	height: 12px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 4px -934px;
	float: right;
}

.jchat_closebox_bottom {
	width: 16px;
	height: 12px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1052px !important;
	float: right;
}

.jchat_rooms_title {
	float: left;
}

.jchat_tabpopup div.jchat_chatrooms_adder {
	width: 16px;
	height: 14px;
	background: url(../../images/default/add_chatroom.png) no-repeat top left;
	float: left;
	margin-left: 4px;
	cursor: pointer;
}

.jchat_maximizebox_bottom, .jchat_maximize_webrtc {
	width: 17px;
	height: 12px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1786px !important;
	float: right;
}

.jchat_maximizebox_bottom.maximized, .jchat_maximize_webrtc.maximized {
	background-position: -20px -1786px !important;
	width: 22px;
}

.jchat_minimizebox_bottom {
	width: 16px;
	height: 12px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1506px !important;
	float: right;
}

.jchat_tabpopup.maximized .jchat_minimizebox_bottom {
	width: 22px;
}

.jchat_minimizebox_bottom.minimized {
	background-position: 0 -1576px !important;
}

.jchat_closebox_bottomhover {
	background-position: 0px -1030px !important;
}

.jchat_minimizebox_bottomhover {
	background-position: 0px -1460px !important;
}

.jchat_maximizebox_bottomhover {
	background-position: 0px -1814px !important;
}

.jchat_maximizebox_bottomhover.maximized {
	background-position: -20px -1814px !important;
}

.jchat_minimizebox_bottomhover.minimized {
	background-position: 0px -1532px !important;
}

.jchat_chatboxmouseoverclose {
	background-position: 4px -973px !important;
}

.jchat_name {
	float: left;
	color: #FFFFFF;
}

#jchat_chatbox_buttons {
	float: right;
}

.jchat_tabmouseover {
	
}

.jchat_tabmouseovertext {
	text-decoration: underline;
}

.jchat_tab {
	height: 25px;
	border-right: 2px solid #CCC;
	float: right;
	cursor: pointer;
	font-weight: bold;
	width: 140px;
	color: #444;
	background-color: #EEE;
	border-radius: 20px;
}

.jchat_tabpopup {
	background-color: transparent;
	opacity: 1 !important;
	position: fixed;
	width: 230px;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",
		sans-serif;
	font-size: 11px;
	text-align: left;
}

.jchat_tabpopup.ui-resizable, .jchat_webrtctooltip.ui-resizable {
	position: fixed !important;
}

div[id^=jchat_user_].jchat_tabpopup .jchat_tabcontent {
	transition: background-color 0.1s linear;
}

div[id^=jchat_user_].jchat_tabpopup.dragging .jchat_tabcontent {
	background-color: rgba(30, 30, 30, 0.95);
	background-image: url(../../images/default/ico_move.png);
	background-position: center;
	transition: background-color 0.2s linear;
}

div[id^=jchat_user_].jchat_tabpopup .jchat_tabcontenttext.private {
	transition: opacity 0.05s linear;
}

div[id^=jchat_user_].jchat_tabpopup.dragging .jchat_tabcontenttext.private {
	opacity: 0.2;
	transition: opacity 0.2s linear;
}

div[id^=jchat_user_].jchat_tabpopup span.jchat_chatboxmessagecontent:before {
	opacity: 1;
	transition: opacity 0.3s linear;
}

div[id^=jchat_user_].jchat_tabpopup.dragging span.jchat_chatboxmessagecontent:before {
	opacity: 0;
	transition: opacity 0.01s linear;
}

div[id^=jchat_user_].jchat_tabpopup.dragging div.jchat_trigger_send {
	opacity: 0.2;
	transition: opacity 0.2s linear;
}

div.jchat_tabpopup.jchat_tabopen.ui-draggable {
	z-index: 10003;
}

div.jchat_tabpopup.jchat_tabopen.maximized_hover {
	z-index: 10005;
}

div[id^=jchat_user_].jchat_tabpopup.jchat_tabopen.ui-draggable.maximized {
	z-index: 10004;
}

div.jchat_tabpopup span.jchat_chatboxmessagefrom img {
	max-width: 32px !important;
	height: 32px !important;
	vertical-align: inherit;
	margin-bottom: 2px;
    border-radius: 2px;
}

.jchat_tabpopup .jchat_tab {
	height: 26px;
	float: right;
	cursor: move;
	font-weight: bold;
	width: 100%;
	color: #FFF;
	border-right: 1px solid #627BAE;
	border-left: 1px solid #627BAE;
	border-top: 1px solid #627BAE;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -20px;
	background-color: #627BAE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-top: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.jchat_tabpopup.jchat_bottomed.jchat_nodraggable span.jchat_tab {
	cursor: auto;
}

.jchat_tabpopup .jchat_tab a:link,.jchat_tabpopup .jchat_tab a:visited {
	font-weight: bold;
}

.jchat_tabpopup .jchat_tab * {
	cursor: auto;
}

.jchat_tabpopup .jchat_tab .jchat_closebox_bottom,
.jchat_tabpopup .jchat_tab .jchat_minimizebox_bottom, 
.jchat_tabpopup .jchat_tab .jchat_maximizebox_bottom,
.jchat_tabpopup .jchat_tab .jchat_maximize_webrtc
	{
	cursor: pointer;
}

#jchat_userstab_popup {
	width: 260px;
	text-align: left;
	height: 50%;
    box-shadow: 0 2px 25px rgba(0,0,0,.2)!important;
    margin: initial;
}

#jchat_userstab_popup.jchat_expired {
	height: 260px;
}

#jchat_userstab_popup.jchat_expired .jchat_userscontent {
	height: 100% !important;
}

#jchat_userstab_popup.maximized, #jchat_wall_popup.maximized, div.jchat_webrtctooltip.maximized {
	width: 100% !important;
	height: 100% !important;	
}

#jchat_userstab_popup.maximized {
	transition: all 0.2s linear;
}

div.jchat_walltab_popup, #jchat_wall_popup {
	width: 260px;
}

#jchat_optionsbutton_popup {
	width: 224px;
	position: fixed;
	z-index: 15000 !important;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 5px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

#jchat_optionsbutton_popup div.jchat_tabcontent {
	padding-left: 5px;
	background-color: #fff;
	border-radius: 5px;
}

#jchat_optionsbutton_popup:before {
	width: 0;
	height: 0;
	content: '';
	position: absolute;
	bottom: -10px;
	right: 20px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #FFF;
}

#jchat_optionsbutton_popup.jchat_optionspopup_reverse:before {
	top: -10px;
	bottom: auto;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #FFF;
	border-top: none;
}

#jchat_loginbutton_popup {
	width: 150px;
	height: 55px;
	position: fixed;
	z-index: 15000 !important;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 5px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	padding: 2px 4px;
	box-sizing: border-box;
	text-align: center;
}

#jchat_loginpopup_desc {
	margin-bottom: 4px;
	border-bottom: 1px solid #DADADA;
	color: #505050;
}

#jchat_loginbutton_popup:before {
	width: 0;
	height: 0;
	content: '';
	position: absolute;
	bottom: -10px;
	right: 20px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #FFF;
}

span.jchat_loginbutton_logged {
	border-bottom: 1px solid #A5A5A5;
	display: block;
  	padding: 4px 0 3px 0;
  	line-height: 16px;
}

#jchat_loginbutton_facebook {
	background: url(../../images/default/socialicons_sprite.png) no-repeat top left;
	background-position: 0px 0px;
	width: 32px;
	height: 32px;
	display: inline-block;	
	cursor: pointer;
}

#jchat_loginbutton_google {
	background: url(../../images/default/socialicons_sprite.png) no-repeat top left;
	background-position: -32px -34px;
	width: 32px;
	height: 32px;
	display: inline-block;	
	cursor: pointer;
}

#jchat_loginbutton_twitter {
	background: url(../../images/default/socialicons_sprite.png) no-repeat top left;
	background-position: -32px 0;
	width: 32px;
	height: 32px;
	display: inline-block;	
	cursor: pointer;
}

.jchat_overlay {
	background-color: rgba(0, 0, 0, .4);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	display: none;
}

.jchat_tabopen {
	display: block !important;
	z-index: 10000;
}

/* Animating display none */
#jchat_userstab,
div.jchat_userstabtitle,
div.jchat_tabcontent.userslist,
div.jchat_tabcontent.messagelist,
span.jchat_tabclick,
div.jchat_tabpopup.jchat_tabopen.ui-draggable {
	-webkit-animation: display-none-transition 0.15s;
	-moz-animation: display-none-transition 0.15s;
  	animation: display-none-transition 0.15s;
}

@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes display-none-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display-none-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jchat_tabopen.dragging {
	z-index: 15000 !important;
}

.jchat_userstabtitle {
	border-left: 1px solid #cdcbca;
	border-top: 1px solid #cdcbca;
	border-right: 1px solid #cdcbca;
	border-bottom: 1px solid #CCC;
	color: #8A8A8A;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	padding: 8px;
	font-weight: bold;
	background-color: #F4F6F9 !important;
}

.jchat_userstabtitle .jchat_privatechattitle,
.jchat_userstabtitle .jchat_publicchattitle  {
	font-weight: bold;
    line-height: 12px;
}

.jchat_userstabtitle .jchat_privatechattitle {
    margin-top: 1px;
    display: inline-block;
}

#jchat_userstab_popup .jchat_userstabtitle {
	padding: 3px 8px 16px 8px;
	min-height: 14px;
}

#jchat_userstab_popup .jchat_userstabtitle.jchat_donotdisturb {
	background: url(../../images/default/donotdisturb.png) no-repeat top left;
    background-position: 135px 15px;
}

#jchat_myusername {
	position: absolute;
	margin-top: 1px;
	font-size: 12px;
	font-weight: bold;
	color: #8A8A8A;
}

#jchat_myusername span {
	font-weight: normal;
	font-size: 12px;
}

.jchat_nousers_placeholder {
	padding: 5px;
	text-align: center;
	border-bottom: 1px dashed #CCC;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
	color: #777;
}

#jchat_users_search {
	width: 80px;
	font-size: 10px;
	background-position: 0px 4px !important;
	background: url(../../images/default/jchat.png) no-repeat top left;
	color: #8A8A8A;
	border: none;
	border-bottom: 1px solid #CCC !important;
	max-height: 14px;
	margin-bottom: 0;
	position: absolute;
	top: 7px;
	right: 3px;
	padding: 4px 6px 4px 16px;
	line-height: 14px;
	box-sizing: content-box;
}

#jchat_users_search:focus {
	background-color: #FFF;
	outline: 0;
}

.jchat_chatboxtabtitlemouseover {
	background-position: 195px -457px !important;
}

.jchat_tabsubtitle {
	border-left: 2px solid #cdcbca;
	border-right: 2px solid #cdcbca;
	padding: 5px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 9px;
	color: #666;
	height: 8px;
}

#jchat_userstab_popup div.jchat_tabsubtitle {
	border-left: 1px solid #cdcbca;
	border-right: 1px solid #cdcbca;
}

.jchat_tabcontent {
	border-right: 1px solid #cdcbca;
	border-left: 1px solid #cdcbca;
	border-bottom: 1px solid #cdcbca;
	background-color: #fff;
	padding: 5px 1px;
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 1px;
	color: #333;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
}

.jchat_tabcontent.messagelist {
	border-right: 1px solid #cdcbca;
	border-left: 1px solid #cdcbca;
}

.jchat_walltab_popup .jchat_tabcontent.messagelist {
	border-right: 1px solid #cdcbca;
	border-left: 1px solid #cdcbca;
}

/**
 * Language toolbar
 */
div.jchat_toolbarlanguage {
    height: 22px;
    margin-top: 26px;
    background-color: #FFF;
    border-right: 1px solid #cdcbca;
    border-left: 1px solid #cdcbca;
    border-bottom: 1px solid #cdcbca;
}

div.jchat_tabpopup.minimized div.jchat_toolbarlanguage {
	display: none;	
}

ul.jchat_languages_list {
    position: absolute;
    width: 160px;
    height: 200px;
	top: 55px;
    overflow: auto;
    list-style-type: none;
    margin: 0;
	z-index: 1;
    background-color: #FFF;
	    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	display: none;
	padding: 10px 5px 2px 2px;
}

ul.jchat_languages_list li {
	padding-left: 4px;
    cursor: pointer;
    height: 20px;
    line-height: 22px;
    border-bottom: 1px solid #CCC;
}

ul.jchat_languages_list li.jchat_lang_selected {
	font-weight: bold;
	border-bottom: 1px solid #333;
}

span.jchat_languages_list_pointer {
	width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 44px;
    left: 10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(231, 228, 228);
    z-index: 2;
	display: none;
}

span.jchat_source_language, span.jchat_target_language, span.jchat_translate_arrow {
	width: 24px;
	height: 16px;
	display: inline-block;
	cursor: pointer;
	margin-top: 2px;
	float: left;
}

span.jchat_sourcelang, ul.jchat_sourcelang {
	margin-left: 25px;
}

span.jchat_targetlang, ul.jchat_targetlang {
	margin-left: 90px;
}

span.jchat_langlabel {
	display: inline-block;
	float: left;
	margin-top: 4px;
}

span.jchat_langlabel:first-child {
	margin-left: 2px;
}

span.jchat_translate_arrow {
	background: url('../../images/default/translate_arrow.png') center no-repeat;
}

span.jchat_target_language, span.jchat_source_language {
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #909090;
	margin-left: 2px;
}

.jchat_lang_switcher {
	display: inline-block;
}

div.jchat_lang_switcher span.jchat_onoffswitch-switch {
	width: 14px;
    height: 14px;
}

div.jchat_lang_switcher label.jchat_onoffswitch-label {
	height: 16px;
}

div.jchat_lang_switcher span.jchat_onoffswitch-inner:before, 
div.jchat_lang_switcher span.jchat_onoffswitch-inner:after {
	line-height: 16px;
}

div.jchat_lang_switcher.jchat_onoffswitchlang {
	width: 66px;
	position: relative;
	float: right;
	margin: 1px 10px 0 0;
}

div[class^=jchat_trigger] {
	background-repeat: no-repeat;
	height: 20px;
	margin-left: 4px;
	cursor: pointer;
	width: 20px;
	float: left;
}

div[class^=jchat_trigger]:hover {
	opacity: 0.7;
	transition: opacity 0.5s;
}

div[class^=jchat_trigger].jchat_trigger_smallspaced {
	margin-left: 2px;
}

.jchat_trigger_room {
	background-image: url('../../images/default/trigger_rooms.png');
	background-position: -26px 2px;
}

.jchat_trigger_emoticon {
	background-image: url('../../images/default/trigger_emoticons.png');
	background-position: -24px 2px;
}

.jchat_trigger_refresh {
	background-image: url('../../images/default/jchat.png');
	background-position: 1px -189px;
}

.jchat_trigger_users_informations {
	background-image: url('../../images/default/jchat.png');
	background-position: 1px -886px;
}

.jchat_trigger_infoguest {
	background-image: url('../../images/default/infoguest.png');
	background-position: -21px 2px;
}

.jchat_trigger_history {
	background-image: url('../../images/default/history.png');
	background-position: -21px 2px;
}

.jchat_trigger_geolocation {
	background-image: url('../../images/default/geolocation.png');
	background-position: -21px 2px;
}

.jchat_trigger_blackboard {
	background-image: url('../../images/default/blackboard.png');
	background-position: -21px 2px;
}

.jchat_trigger_webrtc {
	background-image: url('../../images/default/webrtc.png');
	background-position: -21px 2px;
}

.jchat_trigger_webrtc.jchat_webrtc_disabled {
	background-position: -43px 2px;
	cursor: default;
}

.jchat_trigger_history_wall {
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -1665px;
}

.jchat_trigger_refresh.jchat_refresh_mousedown {
	background-image: url('../../images/default/jchat.png');
	background-position: 1px -226px;
}

.jchat_trigger_emoticon.toggle_on,
.jchat_trigger_room.toggle_on,
.jchat_trigger_infoguest.toggle_on,
.jchat_trigger_history.toggle_on,
.jchat_trigger_webrtc.toggle_on,
.jchat_trigger_geolocation.toggle_on,
.jchat_trigger_blackboard.toggle_on  {
	background-color: #627BAE !important;
	background-position: 2px 2px;
}

.jchat_trigger_users_informations.toggle_on  {
	background-color: #627BAE !important;
	background-position: -31px -886px
}

div.jchat_trigger_send {
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -2044px;
	background-color: #5b74a8;
	border: 1px solid #2f477a;
	width: 18px;
	height: 18px;
	float: right;
	padding: 0;
	border-radius: 20px;
	cursor: pointer;
	margin: 0 12px 0 0;
}

div.jchat_trigger_send_wall {
	width: 22px;
	height: 18px;
	margin: 0 5px 0 0;
	background-position: 2px -2044px;
}

.jchat_emoticonstooltip img, .jchat_messaging_emoticonstooltip img {
	margin: 0 0 0 3px;
	max-width: 18px !important;
	display: inline-block;
}

.jchat_emoticonstooltip, .jchat_roomstooltip, .jchat_messaging_emoticonstooltip, .jchat_chatroom_usersinfo_tooltip {
	background-repeat: no-repeat;
	background-position: right bottom;
	position: fixed;
	display: none;
	padding-right: 4px;
	height: 133px;
}

/**
 * Override toolbar
 */
.jchat_emoticonstooltip, .jchat_messaging_emoticonstooltip {
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 0;
	border: 1px solid #627BAE;
	background-color: #FFF;
}

.jchat_roomstooltip {
	border: 1px solid #627BAE;
	background-color: #FFF !important;
	height: 230px;
	width: 400px;
	padding: 0;
}

.jchat_roomstooltip span.jchat_tab, 
.jchat_webrtctooltip span.jchat_tab,
.jchat_chatroom_usersinfo_tooltip span.jchat_tab {
	position: absolute;
	top: -26px;
	left: -1px;
	width: 402px;
	padding-left: 8px;
}

.jchat_chatroom_usersinfo_tooltip span.jchat_tab {
	width: 202px;
	cursor: auto;
}

.jchat_chatroom_usersinfo_tooltip {
	border: 1px solid #627BAE;
	background-color: #FFF !important;
	height: 150px;
	width: 200px;
	padding: 0;
}

#jchat_chatroom_userslist {
	height: 150px;
	overflow: auto;
}

#jchat_chatroom_userslist ul {
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
}

#jchat_chatroom_userslist li {
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -812px;
	background-repeat: no-repeat;
	padding-left: 18px;
    cursor: pointer;
    height: 25px;
    line-height: 24px;
    border-bottom: 1px solid #CCC;
}

.jchat_webrtctooltip span.jchat_tab {
	width: 520px;
}

.jchat_roomstooltip div.jchat_roomslist {
	overflow: auto;
	max-height: 220px;
	padding-left: 5px;
	padding-right: 5px;
}

.jchat_roomstooltip div.jchat_room {
	height: 30px;
	padding: 2px 2px 10px 2px;
	border-bottom: 1px solid #CCC;
}

.jchat_roomstooltip div.jchat_roomname {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 2px;
}

.jchat_roomstooltip div.jchat_roomleft {
	float: left;
	cursor: default;
}

.jchat_roomstooltip div.jchat_roomright {
	float: right;
}

.jchat_roomstooltip div.jchat_roomright .jchat_roomjoin {
	display: inline-block;
	padding: 4px 8px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: bold;
	line-height: 14px;
	border-radius: 3px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #3a87ad;
	cursor: pointer;
}

 .jchat_roomdelete {
	display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../../images/default/delete_chatroom.png) no-repeat top left;
    cursor: pointer;
    margin-left: 4px;
}

div.jchat_single_period {
	padding: 2px 4px;
	font-size: 11px;
	border-radius: 2px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #3a87ad;
	cursor: pointer;
	text-align: center;
	width: 70%;
	margin: 3px auto;
}

.jchat_roomcount {
	max-width: 100px;
}

.jchat_roomtitle {
	font-weight: bold;
}

.jchat_roomstooltip div.jchat_roomright .jchat_roomjoin.jchat_joined {
	background-color: #468847;
}

.jchat_userstabsubtitle {
	position: absolute;
	border-bottom: 1px solid #CCC;
	color: #8A8A8A;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	padding: 0 0 0 5px;
	background-color: #F4F6F9 !important;
	margin: 0 0 0 1px;
	z-index: 100;
}

.jchat_emoticonstooltip div.jchat_tooltip_content, .jchat_messaging_emoticonstooltip div.jchat_tooltip_content{
	background-color: #FFF !important;
	max-height: 18px;
	min-width: 206px;
}

#jchat_default_suggestion_tooltip {
	position: fixed;
	display: none;
	z-index: 10002;
	width: 218px;
	min-height: 30px;
	line-height: normal;
}

#jchat_default_suggestion_tooltip img {
	max-width: 100% !important;
}

#jchat_default_suggestion_tooltip .jchat_tooltip_content {
	color: #424040;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	white-space: normal;
	min-height: 40px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border: 4px solid #ff9b49;
	box-shadow: 5px 5px 20px #7A7878;
	background-color: #FFF !important;
	white-space: normal;
	cursor: pointer;
}

#jchat_default_suggestion_tooltip::before {
	content: '';
	background: #ff9b49;
	width: 15px;
	height: 15px;
	border-top: 0px solid rgba(0, 0, 0, .18);
	border-bottom: 1px solid rgba(0, 0, 0, .18);
	border-right: 1px solid rgba(0, 0, 0, .18);
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 20px;
	display: block;
	position: absolute;
	bottom: -15px;
	right: 50px;
	box-shadow: 1px 7px 8px 1px rgba(0, 0, 0, 0.4);
}

#jchat_default_suggestion_tooltip.jchat_arm {
	margin-left: -20px;
}

#jchat_default_suggestion_tooltip.jchat_arm::before {
	content: '';
	position: absolute;
	background: url('../../images/default/suggestion.png') no-repeat;
	bottom: -31px;
	right: -45px;
	width: 138px;
	height: 182px;
	border: none;
	box-shadow: none;
	cursor: pointer;
	z-index: -1;
}

#jchat_default_suggestion_tooltip div.jchat_tooltip_content.jchat_skrilled {
    transform: skew(175deg,175deg) rotate(-4deg);
}

#jchat_tooltip_close.jchat_skrilled {
	margin-top: -30px;
}

#jchat_default_suggestion_tooltip.jchat_skrilled::before {
	bottom: -5px;
}

.jchat_default_suggestion {
	background: url('../../images/default/chatbaloon.png') no-repeat top left;
	padding-left: 28px;
	padding-top: 8px;
}

#jchat_tooltip_close {
	width: 16px;
	height: 21px;
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -448px;
	float: right;
	cursor: pointer;
	margin-right: 15px;
}

div.jchat_tabcontenttext img.jchat_emoticons, img.jchat_roomenter, div.jchat_textarea img.jchat_emoticons, #jchat_usersmessages img.jchat_emoticons {
	max-width: 18px !important;
	max-height: 18px;
	width: auto;
	height: auto;
	margin: 0 1px 0 1px;
}

.jchat_avatar_upload_tooltip {
	background-repeat: no-repeat;
	background-position: right bottom;
	position: fixed;
	display: none;
	padding-right: 3px;
	height: 300px;
	width: 305px;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -154px;
}

.jchat_avatar_upload_tooltip iframe {
	border-left: 1px solid #cdcbca;
	border-right: 1px solid #cdcbca;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #cdcbca;
	background-color: #FFF !important;
	height: 205px;
	width: 303px;
}

.jchat_chatroom_adder_tooltip {
	background-repeat: no-repeat;
	background-position: right bottom;
	position: fixed;
	padding-right: 3px;
	height: 300px;
	width: 305px;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -154px;
	z-index: 10002;
}

#chatroom_adder {
	height: 300px;
	background-color: #FFF;
}

#chatroomform input, #chatroomform textarea, #chatroomform select {
    width: 95%;
    margin-left: 3px;
	padding: 0;
}

#avatar_delete {
	width: 16px;
	height: 16px;
	background: url(../../images/default/fmdelete.png) no-repeat top left;
	background-position: 0;
	border: none;
	cursor: pointer;
}

#avatar_upload {
	width: 16px;
	height: 16px;
	background: url(../../images/default/fmupload.png) no-repeat top left;
	background-position: 0;
	border: none;
	cursor: pointer;
}

img.avatar_img {
	border: 3px dotted #CCC;
	padding: 5px;
}

#deleteform {
	margin-bottom: 2px;
}

#deleteform fieldset {
	height: 80px;
}

#uploadform {
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#uploadform fieldset {
	min-height: 70px;
}

label.buttonlabel {
	color: #333;
	padding-left: 3px;
	font-size: 10px;
}

.jchat_trigger_fileupload {
	background-image: url('../../images/default/trigger_fileupload.png');
	background-position: 2px;
	background-repeat: no-repeat;
	height: 20px;
	margin-left: 4px;
	cursor: pointer;
	width: 20px;
	float: left;
}

.jchat_trigger_fileupload.toggle_on {
	background-color: #627BAE !important;
	background-position: -26px 2px;
}

.jchat_fileuploadtooltip, .jchat_messaging_fileuploadtooltip {
	background-repeat: no-repeat;
	background-position: right bottom;
	position: fixed;
	display: none;
	padding-right: 4px;
	height: 60px;
	width: 300px;
}

.jchat_fileuploadtooltip iframe, .jchat_messaging_fileuploadtooltip iframe {
	width: 300px;
	height: 58px;
	border: 1px solid #627BAE;
	background-color: #FFF;
}

.jchat_tooltip_fileupload_header {
	height: 10px;
	background-color: #F4F6F9 !important;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 380px -992px;
	padding-bottom: 4px;
	color: #8A8A8A;
	cursor: pointer;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	border-left: 1px solid #627BAE;
	border-right: 1px solid #627BAE;
	border-top: 1px solid #627BAE;
	width: 400px;
}

.jchat_historytooltip, .jchat_webrtctooltip {
	border: 1px solid #627BAE;
	background-color: #FFF;
	position: fixed;
	display: none;
	height: 160px;
	width: 120px;
	overflow: auto;
}

.jchat_webrtctooltip {
	height: 300px;
	width: 520px;
	padding: 15px 5px 0 5px;
	box-sizing: border-box !important;
	overflow: visible;
}

.jchat_webrtctooltip.jchat_large_recording {
	height: 350px;
}

.jchat_geolocationtooltip {
	border: 1px solid #627BAE;
	background-color: #FFF;
	position: fixed;
	display: none;
	height: 300px;
	width: 250px;
	overflow: auto;
}

div[id^=jchat] div.jchat_blackboardtooltip {
	box-sizing: border-box;
	border: 1px solid #627BAE;
	background-color: #FFF;
	position: fixed;
	display: none;
	height: 300px;
	width: 500px;
	overflow: auto;
    padding: 5px;
	overflow: hidden;
}

.jchat_blackboardtooltip span.jchat_blackboard_tab {
	background: url(../../images/default/blackboard_tab_inactive.png) no-repeat;
	font-size: 9px;
	font-style: italic;
	color: #000;
	padding: 1px 0 0 25px;
	content: "";
	position: absolute;
	width: 130px;
	height: 16px;
	top: 4px;
    left: 10px;
}

.jchat_blackboardtooltip span.jchat_blackboard_tab.active {
	background: url(../../images/default/blackboard_tab_active.png) no-repeat;
}

.jchat_blackboardtooltip input.image_uploader {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.jchat_blackboardtooltip label.image_uploader {
    background: url('../../images/default/trigger_fileupload.png') no-repeat;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px 3px 28px;
    color: #FFF;
    background-color: #3a87ad;
    margin: 7px 0 0 5px;
    border-radius: 2px;
    background-position: -20px 3px;
}

.jchat_blackboardtooltip label.image_uploader:hover {
	transition: all 0.2s;
	opacity: 0.9;
}

#jchat_select_period {
	margin-bottom: 10px;
	color: #FFF;
	border-right: 1px solid #627BAE;
	border-left: 1px solid #627BAE;
	border-top: 1px solid #627BAE;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -20px;
	background-color: #627BAE;
	padding: 0 0 2px 2px;
}

.jchat_infoguesttooltip {
	border: 1px solid #627BAE;
	background-color: #FFF;
	position: fixed;
	display: none;
	height: 200px;
	width: 250px;
	overflow: auto;
}

.jchat_trigger_export {
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -155px;
	background-repeat: no-repeat;
	height: 20px;
	margin-left: 4px;
	cursor: pointer;
	width: 20px;
	float: left;
}

.jchat_trigger_skypesave, .jchat_trigger_override_name {
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -155px;
	background-repeat: no-repeat;
	height: 20px;
	margin-left: 3px;
	cursor: pointer;
	width: 20px;
	float: left;
	z-index: 15001;
}

.jchat_trigger_skypedelete {
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -449px;
	background-repeat: no-repeat;
	height: 20px;
	margin-left: 3px;
	cursor: pointer;
	width: 20px;
	float: left;
	z-index: 15001;
}

.jchat_trigger_delete {
	background-image: url('../../images/default/jchat.png');
	background-position: 0 -449px;
	background-repeat: no-repeat;
	height: 20px;
	margin-left: 4px;
	cursor: pointer;
	width: 20px;
	float: left;
}

.jchat_trigger_export a, .jchat_trigger_export a:hover, .jchat_trigger_export a:link, .jchat_trigger_export a:visited {
	width: 20px;
	height: 20px;
	display: block;
	background: transparent;
}

.jchat_tooltip_header {
	height: 10px;
	background-color: #627BAE !important;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 205px -992px;
	padding-bottom: 4px;
	color: #FFF;
	cursor: pointer;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	border-left: 1px solid #627BAE;
	border-top: 1px solid #627BAE;
	border-right: 1px solid #627BAE;
	border-bottom: none;
	width: 224px;
}

.jchat_tooltip_avatar_upload_header, .jchat_tooltip_chatroom_adder_header {
	width: auto;
	background-position: 280px -1047px;
	padding: 5px 8px 8px 8px;
}

.jchat_tabcontent.userslist {
	height: 87.5%;
	padding-top: 0;
	padding-bottom: 5px;
}

.jchat_tabcontent.userslist.maximized {
	height: 100%;	
}

.jchat_tabcontent.messagelist {
	width: 100%;
	border-bottom: 1px solid #CCC !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.jchat_walltab_popup .jchat_tabcontent.messagelist {
	width: auto;
	padding-top: 11px;
}

.jchat_tabcontent.messagelist .jchat_tabcontenttext.private {
	height: 200px;
}

.jchat_tabcontenttext {
	border-bottom: 1px solid #f6f6f6;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.jchat_userscontent {
	overflow-x: hidden;
	overflow-y: auto;
	height: 95%;
}

/* ============  Breakpoint 600px ============= */
@media ( max-height : 620px) {
	.jchat_userscontent {
		height: 85%;
	}
}

/* ============  Breakpoint 480px ============= */
@media ( max-height : 480px) {
	.jchat_userscontent {
		height: 75%;
	}
}

/* ============  Breakpoint 320px ============= */
@media ( max-height : 320px) {
	.jchat_userscontent {
		height: 60%;
	}
}

.jchat_tabcontentinput {
	padding: 4px 0 0 25px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 5px -1235px;
	outline: none;
	margin-bottom: 2px;
	min-height: 21px;
}

.jchat_textarea {
	border: 0;
	height: 22px;
	overflow: hidden;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size: 11px;
	color: #444;
	outline: none;
}

.jchat_userlist.jchat_userlist_hover {
	background-color: #F4F6F9 !important;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	color: #000;
}

.jchat_tooltip_content {
	color: #fff;
	padding: 4px;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	background-color: #333 !important;
	font-size: 11px;
	white-space: nowrap;
	text-align: left;
}

.jchat_userlist {
	cursor: pointer;
	height: 32px;
	clear: both;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.jchat_userscontentname {
	padding-left: 5px;
	float: left;
	font-weight: bold;
	color: #575757;
	position: relative;
	line-height: 12px;
}

.jchat_userscontentname img {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

.jchat_userscontentdot {
	float: right;
	background-repeat: no-repeat;
	background-position: 0 2px;
	width: 30px;
	height: 16px;
}

.jchat_userscontentdot.jchat_away {
	display: none;
}

.jchat_contact {
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	float: right;
}

.jchat_banning {
	position: absolute;
	margin-top: 16px;
	background-image: url('../../images/default/icon_ban_gray.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.jchat_banning.banned {
	background-image: url('../../images/default/icon_ban_red.png');
}


.jchat_tabcontentinput.jchat_textarea_banned {
    background: url("../../images/default/icon_ban_red.png") no-repeat scroll 3px 4px rgba(0, 0, 0, 0);
	font-size: 10px;
	color: #575757;
	padding: 4px 0 0 23px;
}

div.jchat_fullcolumn_input span.banned_msg {
	background: url("../../images/default/icon_ban_red.png") no-repeat scroll 3px 4px rgba(0, 0, 0, 0);
	font-size: 14px;
	color: #575757;
	padding: 5px 0 0 25px;
	margin: 10px 10px 0 10px;
	display: block;
	border-bottom: 1px solid #CCC;
}

.jchat_ban_moderator {
	position: absolute;
	margin-top: 16px;
	margin-left: 20px;
	background-image: url('../../images/default/icon_ban_moderator.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.jchat_ban_moderator.banned {
	background-position: -19px 0;
}

#jchat_chatroom_userslist span.jchat_ban_moderator, #jchat_chatroom_userslist span.jchat_banning {
	position: relative;
	float: right;
	margin-top: 4px;
	margin-left: 4px;
}

.jchat_skypecall {
	background-image: url('../../images/default/icon_skype.png');
	background-repeat: no-repeat;
	height: 20px;
	margin-left: 4px;
	cursor: pointer;
	width: 20px;
	float: right;
}

a.skypeicon:link,a.skypeicon:visited,a.skypeicon:hover {
	height: 100%;
	width: 100%;
	display: block;
	background-color: transparent !important;
}

p.jchat_skypecall_tooltip {
	background-image: url('../../images/default/skype_call.png');
	background-repeat: no-repeat;
	height: 25px;
	padding-left: 20px;
	padding-bottom: 5px;
	font-size: 13px;
	border-bottom: 1px solid #CCC;
	text-align: center;
}

p.jchat_skypeinfo_tooltip {
	background-image: url('../../images/default/skype_info.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	font-size: 10px;
	text-align: left;
}

#jchat_skypecall .jchat_tooltip_content {
	border-radius: 10px;
}

.jchat_tab_shortname {
	margin-left: 15px;
	float: left;
	color: #FFF;
	cursor: pointer;
}

.jchat_tab_shortname a:link,.jchat_tab_shortname a:hover,.jchat_tab_shortname a:visited
	{
	color: #FFF;
	cursor: pointer;
	background-color: transparent;
}

.jchat_tab_shortname a:hover::before {
	position: absolute;
	top: -20px;
	left: 5px;
	background-color: #333;
	padding: 5px 10px;
	border-radius: 5px;
}

.jchat_timeinfo {
	background-repeat: no-repeat;
	float: right;
	width: 30px;
	font-size: 8px;
	margin-top: 1px;
	text-align: center;
}

.jchat_tab .jchat_timeinfo {
	float: left;
	color: #EEE;
}

.jchat_contact.noactive {
	background-image: url(../../images/default/icon_gray.png);
}

.jchat_contact.owned {
	background-image: url(../../images/default/icon_yellow.png);
	padding-bottom: 2px;
}

.jchat_contact.active {
	background-image: url(../../images/default/icon_green.png);
	padding-bottom: 0;
}

.jchat_available {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -129px !important;
}

.jchat_disconnected {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1845px !important;
}

.jchat_offline {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1845px !important;
}

#jchat_tooltip,#jchat_refresh_tooltip,.jchat_generic_tooltip
	{
	background-image: url(../../images/default/pointer.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: fixed;
	display: none;
	padding-bottom: 4px;
	z-index: 10005;
}

#jchat_trigger_webrtc_tooltip.jchat_tooltip_webrtc .jchat_tooltip_content,
#jchat_trigger_blackboard_tooltip.jchat_tooltip_webrtc .jchat_tooltip_content {
	background: url(../../images/default/info.png) no-repeat;
	background-position: 4px 5px;
	border-radius: 5px;
	padding-left: 25px;
}

.jchat_generic_tooltip.maximized {
	background-position: left bottom;
}

#jchat_skypecall.maximized {
	background-image: url(../../images/default/pointer_side.png);
	background-position: right 15px;
	padding-right: 4px;
}

#jchat_trigger_skypesave_tooltip, #jchat_trigger_skypedelete_tooltip, #jchat_trigger_override_name_tooltip, #jchat_skype_tooltip {
	z-index: 15001;
}

#jchat_avatartooltip {
	background-image: url(../../images/default/pointer_side.png);
	background-repeat: no-repeat;
	background-position: right center;
	position: fixed;
	display: none;
	padding-right: 3px;
	font-weight: bold;
}

#jchat_avatartooltip.selfmessage {
	background-image: url(../../images/default/pointer_aside.png);
	background-position: left center;
	padding-left: 3px;
}

div.jchat_tabpopup.jchat_bottomed:hover {
	z-index: 10005 !important;
}

.jchat_time_details {
	font-size: 9px;
}

.jchat_closebox_bottom_status {
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	background-repeat: no-repeat;
	background-position: 0 -1px;
}

.jchat_tabalert {
	width: 16px;
	height: 16px;
	position: absolute;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -535px;
	color: #333;
	font-size: 8px;
	padding-top: 1px;
	text-align: center;
	text-decoration: none !important;
}

.jchat_tabalertlr {
	width: 16px;
	height: 16px;
	position: absolute;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -537px;
	color: #333;
	font-size: 8px;
	padding-top: 1px;
	text-align: center;
}

div.jchat_chatboxmessage {
	clear: both;
	min-height: 40px;
}

div.jchat_chatboxmessage iframe,div.jchat_chatboxmessage img,div.jchat_chatboxmessage video,div.jchat_chatboxmessage embed, div.jchat_chatboxmessage object
	{
	width: 100%;
	height: 100%;
}

span.jchat_chatboxmessagefrom {
	font-weight: bold;
	float: left;
}

#jchat_wall_popup span.jchat_chatboxmessagecontent.jchat_message_small {
	max-width: 50%;
}

#jchat_wall_popup span.jchat_chatboxmessagefrom.jchat_username_large strong {
	max-width: 90px;
	word-break: break-all;
}

span.jchat_chatboxmessagefrom strong {
	margin-top: 10px;
	display: inline-block;
	max-width: 32px;
	font-size: 9px;
}

span.jchat_chatboxmessagecontent {
	display: block;
	float: left;
	max-width: 72%;
	background-color: #f7f7f7;
	padding: 4px 6px 3px 5px;
	border: 1px solid #dfdfdf;
	border: 1px solid rgba(0, 0, 0, .18);
	border-bottom-color: rgba(0, 0, 0, .29);
	border-radius: 4px;
	box-shadow: 0 1px 0 #dce0e6;
	color: #3e454c;
	line-height: 1.28;
	margin: 5px 0 5px 7px;
	min-height: 14px;
	position: relative;
	text-align: left;
	text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
}

.jchat_chatboxmessage.selfmessage span.jchat_chatboxmessagecontent {
	float: right;
	margin: 5px 7px 5px 0;
}

div.jchat_chatboxmessage.dummy_typing span.jchat_chatboxmessagecontent {
	font-size: 18px;
	color: #666;
	line-height: 2px;
	font-weight: bold;
}

span.jchat_chatboxmessagecontent:before {
	content: '';
	right: 100%;
	position: absolute;
	width: 8px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1620px;
	background-repeat: no-repeat;
	background-size: auto;
	height: 13px;
	top: 5px;
	background-color: #f7f7f7;
}

span.jchat_chatboxmessagecontent.selfmessage:before {
	background-color: #dbedfe;
	background-position: -9px -1620px;
	left: 100%;
}

span.jchat_chatboxmessagecontent.selfmessage {
	background-color: #dbedfe;
}

.jchat_chatboxmessagefrom a:link,.jchat_chatboxmessagefrom a:visited {
	color: #000;
}

.jchat_chatboxmessage.selfmessage span.jchat_chatboxmessagefrom, span.msg_seen {
	float: right;
}

span.msg_seen {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1720px;
	color: #999;
	padding-left: 15px;
	clear: both;
}

.jchat_chatboxmessagefrom a:hover {
	background-color: #FFF;
}

div.jchat_trigger_export a:hover {
	background: transparent;
}

.jchat_statustextarea {
	border: 1px solid #ccc;
	width: 200px;
	padding: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	color: #444;
	overflow-x: hidden;
	overflow-y: auto;
	height: 42px;
	outline: none;
}

.jchat_optionsstatus {
	padding-left: 2px;
	padding-bottom: 5px;
	float: left;
	padding-top: 1px;
	cursor: pointer;
}

.jchat_optionsstatus2 {
	float: left;
}

.jchat_friendtextbox {
	border: 1px solid #ccc;
	width: 200px;
	padding: 2px;
	margin-top: 4px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	color: #444;
	font-weight: normal;
}

.jchat_tabsubtitle a {
	color: #000;
}

.jchat_tabcontent a {
	color: #287197;
}

.jchat_user_offline {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0px -686px !important;
	width: 16px;
	height: 16px;
}

.jchat_user_donotdisturb {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -1px -2127px !important;
	width: 16px;
	height: 16px;
}

.jchat_user_donotdisturb.jchat_enabled {
	background-position: -33px -2127px !important;
}

.jchat_user_available {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -752px !important;
	width: 16px;
	height: 16px;
}

.jchat_busy {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -31px -2127px !important;
	width: 16px;
	height: 16px;
}

#jchat_userstab_icon {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -888px;
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 5px;
	margin-top: 4px
}

#jchat_userstab_icon.jchat_user_available2.jchat_lamform {
    background-position: -32px -535px;
}

#jchat_userstab_icon.jchat_expired {
	background-position: 0 -1996px;
}

#jchat_newpublic_msg {
	background: url(../../images/default/public_notify.png) no-repeat top left;
	width: 16px;
	height: 9px;
	display: inline-block;
	top: -5px;
	position: absolute;
	right: 60px;
}

#jchat_newpublic_msg.hidden {
	display: none;
}

#jchat_userstab_icon {
	margin-left: 8px;
}

#jchat_userstab_text {
	margin-top: 4px;
	font-weight: bold;
	text-align: left;
}

span.jchat_userscount {
	margin-left: 2px;
}

#jchat_userstab.jchat_tabclick #jchat_userstab_text.jchat_userstab_text_long {
	margin: 0;
	width: 80%;
}

#jchat_userstab.jchat_userstabclick #jchat_userstab_text.jchat_userstab_text_long {
	width: 60%;
}

#jchat_userstab.jchat_tabclick #jchat_userstab_text.jchat_lamform,
#jchat_closesidebarbutton.jchat_lamform,
#jchat_optionsbutton.jchat_lamform,
#jchat_maximizebutton.jchat_lamform,
#jchat_users_search.jchat_lamform,
#jchat_myusername.jchat_lamform,
span.jchat_privatechattitle.jchat_lamform
{
	display: none;
}

span.jchat_lamform_title {
	font-weight: bold;
}

.jchat_optionsimages {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 3px -304px !important;
}

#jchat_userstab.maximized .jchat_optionsimages {
	background-position: 6px -304px !important;
}

.jchat_maximizeimages {
	background: url(../../images/default/jchat.png) no-repeat top left;
}

#jchat_maximizebutton.jchat_maximizeimages {
	background-position: 5px -1751px !important;
}

#jchat_maximize_wall.jchat_maximizeimages {
	background-position: 7px -1751px !important;
}

#jchat_maximizebutton.jchat_maximizeimages.maximized {
	background-position: -14px -1751px !important;
}

#jchat_maximize_wall.jchat_maximizeimages.maximized {
	background-position: -14px -1751px !important;
}

#jchat_maximize_webrtc.jchat_maximizeimages.maximized {
	background-position: -20px -1751px !important;
}

.jchat_loginimages {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 3px -2077px !important;
}

#jchat_userstab.maximized .jchat_loginimages {
	background-position: 8px -2076px !important;
}

.jchat_exitimages {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 3px -259px !important;
}

.jchat_wallimages {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 1px -1124px !important;
}

.jchat_backlink {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -4px -1215px !important;
	width: 10px;
	padding-left: 2px;
	padding-top: 2px;
	margin-top: 1px;
	cursor: auto;
}

.jchat_backlink_novisible {
	width: 0px;
	cursor: auto;
	display: none;
}

.jchat_backlink a {
	color: transparent;
}

.jchat_optionsimages_click {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 6px -310px !important;
}

.jchat_optionsimages_exclamation {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 6px -263px !important;
}

.jchat_wallimages_click {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 1px -1124px !important;
}

span.poweredby a,span.poweredby a:visited,span.poweredby a:hover {
	font-size: 8px;
	color: #fff;
	margin-left: 55px;
}

a#setstatusmessage,a#setstatusmessage:visited,a#setstatusmessage:hover {
	color: #627BAE;
	background-color: #FFF;
}

.jchat_sounds, .jchat_wall_sounds {
	cursor: pointer;
	margin-top: 5px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -79px;
	padding-left: 20px;
	color: #333;
}

.jchat_sounds.noaudio, .jchat_wall_sounds.noaudio {
	background-position: -1px -103px;
}

.jchat_wall_sounds {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
}

.jchat_vibrate {
	cursor: pointer;
	margin-top: 5px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1872px;
	padding-left: 20px;
	padding-top: 5px;
}

.jchat_vibrate.novibrate {
	background-position: 0 -1900px;
}

.jchat_notification {
	cursor: pointer;
	margin-top: 5px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1963px;
	padding-left: 20px;
	color: #333;
}

.jchat_notification.yesnotification {
	background-position: 0 -1936px;
}

.speakericon {
	margin-right: 8px;
}

.jchat_avatar {
	cursor: pointer;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -809px;
	padding-left: 20px;
	padding-top: 10px;
	border-top: 1px solid #CCC;
	color: #333;
}

.jchat_skype {
	background: url(../../images/default/icon_skype.png) no-repeat top left;
	padding-left: 20px;
	height: 20px;
	color: #333;
}

.jchat_override_name {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 0 -1239px;
	padding-left: 20px;
	height: 20px;
}

#skype_id, #override_name {
	float: left;
	margin-bottom: 5px;
	padding: 1px 2px !important;
	max-width: 155px;
	max-height: 20px;
}

.jchat_reset_chatboxes {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -34px -190px;
	width: 16px;
	height: 16px;
}

.jchat_minimize_chatboxes {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -34px -751px !important;
	width: 16px;
	height: 16px;
}

.jchat_minimize_chatboxes.yesminimized {
	background-position: -34px -722px !important;
}

.jchat_open_privatemess {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -1px -263px !important;
	width: 16px;
	height: 16px;
}

/**
 * IFrame upload file
 */
#file_upload_button {
	width: 16px;
	height: 16px;
	background: url(../../images/default/fmupload.png) no-repeat top left;
	background-position: 0;
	border: none;
	cursor: pointer;
}

div.formbutton {
	width: 100%;
	margin-top: 5px;
}

div.upload_usermessage {
	background-color: #FFE5E0 !important;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 5px -1125px !important;
	border: 1px solid #E67E55;
	padding: 5px 0 0 25px;
	min-height: 35px;
	display: none;
	border-radius: 10px;
	font-size: 11px;
	position: relative;
	margin-bottom: 10px;
}

div.upload_usermessage.success {
	background-color: #BFF5C3 !important;
	background-position: 5px -1355px !important;
	border: 1px solid #2FC53B;
}

div.closemsgbtn {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 4px -1085px !important;
}

div.upload_usermessage.visible {
	display: block;
}

img.clessidra {
	width: 16px !important;
	height: 16px !important;
	float: left;
	margin-right: 2px;
}

span.filestatus {
	color: #19E;
	margin-left: 3px;
	font-size: 9px;
}

span.filemessage {
	color: #666;
}

div.filename {
	font-weight: bold;
	font-size: 9px;
}

a.msgfile:link,a.msgfile:visited,a.msgfile:hover {
	cursor: pointer;
	color: #33F !important;
	background: transparent;
	text-decoration: underline;
}

div.jchat_chatboxmessage img.jchat_fileimage_preview {
	width: auto;
	height: auto;
	max-width: 100%;
}

div#jchat_msg {
	width: 212px;
	min-height: 40px;
	cursor: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -109px;
	margin-top: 0px;
	box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.4);
	border-radius: 30px;
	z-index: 20000;
	background-color: #EEE;
	padding: 3px;
}

div#jchat_msg::before {
	content: '';
	background-image: url(../../images/default/info.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: -10px;
	left: 18px;
}

div#jchat_msgtext {
	width: 210px;
	clear: both;
	margin: 5px 0 0 0;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

div#jchat_msgtext::before {
	content: '';
	background: #EEE;
	width: 15px;
	height: 15px;
	border-top: 0px solid rgba(0, 0, 0, .18);
	border-bottom: 1px solid rgba(0, 0, 0, .18);
	border-right: 1px solid rgba(0, 0, 0, .18);
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 20px;
	display: block;
	position: absolute;
	bottom: -15px;
	right: 50px;
	box-shadow: 1px 7px 8px 1px rgba(0, 0, 0, 0.4);
}

span.jchat_view_message {
    display: block;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    padding: 18px 35px 18px 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin: 10px;
}

/*
 * jQuery UI Resizable 1.10.4
 */
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}

.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle
	{
	display: none;
}

.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 16px;
	height: 16px;
	right: 1px;
	bottom: 1px;
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 2px -1421px;
}

.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}

.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}

.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

/**
 * Info guest box
 */
.jchat_infoguest_title {
	padding: 8px;
	font-weight: bold;
	background-color: #F4F6F9 !important;
}

.jchat_infoguest_value {
	border-bottom: 1px solid #CCC;
	padding: 8px;
	font-weight: bold;
}

.jchat_expired_msg {
	background: url(../../images/default/expired.png) no-repeat top center;
	font-size: 16px;
	padding-top: 50px;
}

.jchat_expired_msg p {
	text-align: center;
	line-height: 1.1em;
}

.jchat_expired_msg p:first-child {
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

/**
 * Webrtc elements
 */
#jchat_localvideo, #jchat_remotevideo {
	width: 48%;
	float: left;
	cursor: pointer;
}

#jchat_wrapper_localvideo, #jchat_wrapper_remotevideo {
	position: relative;
	display: block;
}

#jchat_wrapper_localvideo {
	z-index: 1;
}

#jchat_wrapper_remotevideo {
	z-index: 0;
}

#jchat_wrapper_localvideo span.jchat_video_tab, #jchat_wrapper_remotevideo span.jchat_video_tab {
	background: url(../../images/default/video_tab_inactive.png) no-repeat;
	font-size: 9px;
	font-style: italic;
	color: #000;
	padding: 1px 0 0 25px;
	content: "";
	position: absolute;
	width: 91px;
	height: 16px;
	top: -10px;
	left: 0;
}

#jchat_wrapper_remotevideo span.jchat_video_tab {
	left: auto;
}

#jchat_wrapper_localvideo.jchat_fullscreenapi_video,
#jchat_wrapper_remotevideo.jchat_fullscreenapi_video {
	z-index: 2147483647;
	position: absolute;
   	top: 20px;
    left: 5px;
	width: 243px;
}

#jchat_wrapper_localvideo.jchat_fullscreenapi_video span.jchat_video_tab,
#jchat_wrapper_remotevideo.jchat_fullscreenapi_video span.jchat_video_tab {
	left: 10px;
}

#jchat_wrapper_localvideo.jchat_fullscreenapi_video video#jchat_localvideo,
#jchat_wrapper_remotevideo.jchat_fullscreenapi_video video#jchat_remotevideo {
	width: 100%;
}

@media (min-width : 720px){
	div.jchat_webrtctooltip.fullscreen #jchat_wrapper_remotevideo.active {
		height: 75%;
	}
}

div.jchat_webrtctooltip.fullscreen #jchat_remotevideo {
    max-height: 100%;
}

#jchat_wrapper_localvideo.active span.jchat_video_tab, #jchat_wrapper_remotevideo.active span.jchat_video_tab {
	background: url(../../images/default/video_tab_active.png) no-repeat;
}

#jchat_localvideo, #jchat_localvideo_placeholder {
	margin-right: 10px;
}

#jchat_localvideo, #jchat_remotevideo, canvas.jchat_canvas_blackboard {
	width: 48%;
	border: 5px solid #CCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	box-sizing: border-box;
}

#jchat_localvideo::-webkit-media-controls, #jchat_remotevideo::-webkit-media-controls {
	display:none !important;
}

#jchat_remotevideo {
	float: none;
}

div.jchat_webrtctooltip:not(.fullscreen) video {
	max-height: 190px;
}

#jchat_localvideo_placeholder, #jchat_remotevideo_placeholder {
	width: 48%;
	height: 185px;
	border: 5px dotted #CCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	background: url(../../images/default/placeholder.png)center no-repeat;
	box-sizing: border-box;
}

#jchat_remotevideo_placeholder {
	margin-bottom: 2px;
}

#jchat_localvideo_placeholder.jchat_fullscreenapi_video,
#jchat_remotevideo_placeholder.jchat_fullscreenapi_video {
	z-index: 2147483647;
	position: absolute;
    top: 20px;
    left: 5px;
	width: 243px;
}

canvas.jchat_canvas_blackboard {
	width: 100%;
	float: none;
	margin-top: 10px;
    height: 224px;
}

div.jchat_blackboardtooltip video {
	border: 5px solid #CCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	margin-top: 10px;
	height: 224px;
}

div.jchat_blackboardtooltip video::-webkit-media-controls-enclosure {
    display: none;
}

div.jchat_webrtctooltip.fullscreen {
	z-index: 15000 !important;
}

div.jchat_webrtc_clearer {
	clear: both;
}

#jchat_start_accept_call, span.jchat_start_accept_sharing {
	position: relative;
	margin-top: 20px;
	cursor: pointer;
	width: 150px;
	padding: 4px 12px;
	font-size: 13px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	background-color: #19a319;
	background-image: linear-gradient(to bottom, #7bc97b, #19a319);
	border: 1px solid #19a319;
	border-radius: 15px;
	box-shadow: inset 0 0px 0 rgba(92, 92, 92, 0.8), 1px 2px 2px #3A3A3A;
	opacity: 1;
	transition: all 0.2s linear;
}

#jchat_start_accept_call:hover, span.jchat_start_accept_sharing:hover {
	opacity: 0.7;
	transition: none;
}

#jchat_start_accept_call.jchat_ringing, span.jchat_start_accept_sharing.jchat_ringing {
	opacity: 0.7;
	transition: all 0.5s linear;
}

#jchat_end_call, span.jchat_end_sharing {
	position: relative;
	margin-top: 12px;
	cursor: pointer;
	width: 150px;
	padding: 4px 12px;
	font-size: 13px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	background-color: #fe1919;
	background-image: linear-gradient(to bottom, #fe8484, #fe1919);
	border: 1px solid #fe1919;
	border-radius: 15px;
	box-shadow: inset 0 0px 0 rgba(92, 92, 92, 0.8), 1px 2px 2px #3A3A3A;
	float: left;
	opacity: 1;
	transition: all 0.2s linear;
}

span.jchat_end_sharing {
	float: none;
}

#jchat_start_accept_call.jchat_disabled, 
#jchat_end_call.jchat_disabled,
span.jchat_start_accept_sharing.jchat_disabled,
span.jchat_end_sharing.jchat_disabled {
	opacity: 0.7;
	cursor: default;
}

#jchat_end_call:hover, span.jchat_end_sharing:hover {
	opacity: 0.7;
	transition: none;
}

span.jchat_webrtc_icons {
	width: 16px;
	height: 16px;
	position: absolute;
}

span.jchat_webrtc_icons.jchat_call_icon {
	background: url(../../images/default/call.png) no-repeat;
	left: 6px;
	top: 4px;
}

span.jchat_webrtc_icons.jchat_end_icon {
	background: url(../../images/default/end.png) no-repeat;
	left: 6px;
	top: 10px;
}

span.jchat_start_accept_sharing, span.jchat_end_sharing {
    float: left;
    margin: 5px 5px 0 5px;
    padding: 4px;
    width: 120px;
}

div.jchat_infouser_webrtc, div.jchat_exceptions {
	background-image: url(../../images/default/pointer_aside.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 4px;
	margin-top: -5px;
	color: #FFF;
	float: left;
	margin-left: 5px;
	position: relative;
	z-index: 1;
}

div.jchat_infouser_webrtc.top {
	background-image: url(../../images/default/pointer.png);
	background-position: 50px bottom;
	position: absolute;
	bottom: 90px;
	margin: 0;
	float: none;
}

div.jchat_top_exceptions {
	position: absolute;
	top: 80px;
	left: 18px;
	z-index: 999;
}

div.jchat_exceptions {
	background-image: url(../../images/default/pointer_exceptions.png);
	color: #a94442;
}

div.jchat_blackboardtooltip div.jchat_infouser_webrtc, div.jchat_blackboardtooltip div.jchat_exceptions {
	float: none;
	position: absolute;
	left: 275px;
	bottom: 20px;
}

div.jchat_tooltip_innermsg, div.jchat_tooltip_error {
	background-color: #333;
	height: auto;
	border-radius: 5px;
	padding: 6px 8px 6px 30px;
	color: #FFF;
}

div.jchat_infouser_webrtc.top div.jchat_tooltip_innermsg {
	padding-top: 4px;
}

div.jchat_tooltip_error {
	background-color: #f2dede;
	padding: 6px 8px 6px 30px;
	border: 2px solid #ebccd1;
	color: #333;
}

div.jchat_icon_ok {
	background-image: url(../../images/default/info.png);
	position: absolute;
	top: 9px;
	left: 9px;
	width: 15px;
	height: 15px;
}

div.jchat_icon_error {
	background-image: url(../../images/default/exceptions.png);
	position: absolute;
	top: 10px;
	left: 8px;
	width: 15px;
	height: 15px;
}

div.jchat_info_closer {
	background: url(../../images/default/close_info.png) no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -5px;
	right: -8px;
	cursor: pointer;
}

div.jchat_exceptions_closer {
	background: url(../../images/default/close_icon.png) no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -5px;
	right: -8px;
	cursor: pointer;
}

div.jchat_async_loader {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 15px;
	height: 15px;
	border: 4px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

input.jchat_slider {
	width: 70px;
}

#jchat_webrtc_volume {
	background: url(../../images/default/webrtc_volume.png) no-repeat;
	position: absolute;
	right: 50px;
	bottom: 42px;
	padding-left: 25px;
	height: 18px;
	max-width: 95px;
	box-sizing: border-box;
}

#jchat_webrtc_mic {
	background: url(../../images/default/webrtc_mic.png) no-repeat;
	position: absolute;
	right: 50px;
	bottom: 15px;
	padding-left: 25px;
	height: 18px;
	max-width: 95px;
	box-sizing: border-box;
}

input[type='range'] {
	-webkit-appearance: none;
	border-radius: 5px;
	border: none !important;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 8px;
	vertical-align: middle;
	outline: none;
	margin: 2px 0 0 0;
	padding: 0;
}
input[type='range']::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 8px;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 18px;
	width: 18px;
}
input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 18px;
	width: 18px;
}

.jchat_onoffswitch {
	position: absolute;
	width: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.jchat_onoffswitch.jchat_webrtc_video {
	right: 170px;
	bottom: 10px;
	background: url(../../images/default/playcam.png) no-repeat;
	padding-left: 30px;
	background-position: 4px 2px;
	height: 28px;
}

.jchat_onoffswitch-checkbox {
	display: none !important;
}

.jchat_onoffswitch-label {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 20px;
	margin: auto;
}

.jchat_onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.2s ease-in 0s;
	-webkit-transition: margin 0.2s ease-in 0s;
	-o-transition: margin 0.2s ease-in 0s;
	transition: margin 0.2s ease-in 0s;
}

.jchat_onoffswitch-inner:before,.jchat_onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 20px;
	padding: 0;
	line-height: 21px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.jchat_onoffswitch-inner:before {
	content: "ON";
	padding-left: 14px;
	background-color: #19a319;
	color: #FFFFFF;
}

.jchat_onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #F01F1F;
	color: #FFFFFF;
	text-align: right;
}

.jchat_onoffswitch-switch {
	display: block;
	width: 18px;
	height: 18px;
	margin: 0;
	background: #FFFFFF;
	border: 2px solid #999999;
	border-radius: 20px;
	position: absolute;
	top: -1px;
	bottom: 0;
	right: 44px;
	-moz-transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	-o-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;
}

.jchat_onoffswitch-checkbox:checked+.jchat_onoffswitch-label .jchat_onoffswitch-inner
	{
	margin-left: 0;
}

.jchat_onoffswitch-checkbox:checked+.jchat_onoffswitch-label .jchat_onoffswitch-switch
	{
	right: 0px;
}

#jchat_quality_cam {
	position: absolute;
	right: 170px;
	bottom: 46px;
	height: 20px;
	font-style: italic;
	color: #333;
	word-wrap: normal;
}

#jchat_quality_cam > span {
    display: inline-block;
    background-color: #31708f;
    color: #FFF;
    padding: 2px 4px;
    border-radius: 3px;
    margin: 2px;
}

#jchat_quality_cam select {
	width: 70px;
	height: 22px;
	border-radius: 10px;
	border: 2px solid #999999;
	padding: 0;
	outline: none;
	background-color: #E7E7E7;
	color: #333;
	display: inline-block;
	box-sizing: border-box;
	font-size: 11px;
	margin: 0 0 4px 0;
}

#jchat_quality_cam select:focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#mic_vumeter {
	position: absolute;
	right: 5px;
	bottom: 20px;
	max-width: 30px !important;
}

.jchat_webrtc_nosupport, .jchat_webrtc_blackboard_nosupport {
	background: url(../../images/default/nowebrtc_support.png) no-repeat top center;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	padding: 48px 8px 0 8px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: -10px;
}

.jchat_webrtc_blackboard_nosupport {
	margin-top: 50px;
}

div.jchat_browser_row {
	padding: 2px 4px;
}

.jchat_blackboardtooltip div.jchat_browser_row {
	margin-bottom: 10px;
}

div.jchat_browser_row img {
	width: 32px;
}

div.jchat_browser_row span {
	padding-left: 18px;
	margin-left: 5px;
	height: 20px;
	display: inline-block;
}

div.jchat_browser_row span.jchat_support_ok {
	background: url(../../images/default/icon_green.png) no-repeat top left;
}

div.jchat_browser_row span.jchat_support_ko {
	background: url(../../images/default/icon_gray.png) no-repeat top left;
}

div.jchat_webrtc_caniuse {
	text-align: center;
	padding-top: 5px;
	border-top: 1px solid #999;
}

#jchat_webrtc_bandwidth {
	position: absolute;
	right: 147px;
	bottom: 75px;
	width: 160px;
	font-style: italic;
}

#jchat_webrtc_bandwidth span, #jchat_webrtc_duration span {
    display: inline-block;
    background-color: #31708f;
    color: #FFF;
    padding: 2px 4px;
    border-radius: 3px;
}

#jchat_webrtc_duration {
	position: absolute;
	right: 48px;
	bottom: 75px;
	width: 60px;
	font-style: italic;
}

#jchat_webrtc_record.jchat_start_recording {
	position: absolute;
	background: url(../../images/default/record_off.png) no-repeat;
    right: 285px;
    bottom: 105px;
    height: 20px;
    width: 20px;
	cursor: pointer;
}

#jchat_webrtc_record.jchat_stop_recording {
	background: url(../../images/default/record_on.png) no-repeat;
}

@keyframes blink {  
    0% { background: url(../../images/default/record_on.png) no-repeat; }
	50% { background: url(../../images/default/record_off.png) no-repeat; }
    100% { background: url(../../images/default/record_on.png) no-repeat; }
}

.jchat_recording_blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
} 

#jchat_webrtc_pause {
	position: absolute;
	background: url(../../images/default/record_pause.png) no-repeat;
	background-position: 0 0px;
    right: 260px;
    bottom: 105px;
    height: 20px;
    width: 20px;
	cursor: pointer;
}

#jchat_webrtc_pause.jchat_enabled {
	background-position: -24px 0px;
}

#jchat_webrtc_stop {
	position: absolute;
	background: url(../../images/default/record_stop.png) no-repeat;
    right: 235px;
    bottom: 105px;
    height: 20px;
    width: 20px;
	cursor: pointer;
    border-right: 1px solid #000;
}

#jchat_webrtc_view {
	position: absolute;
	background: url(../../images/default/record_view.png) no-repeat;
	background-position: 0 0px;
    right: 210px;
    bottom: 105px;
    height: 20px;
    width: 20px;
	cursor: pointer;
}

#jchat_webrtc_view.jchat_btn_enabled {
	background-position: -24px 0px;
}

#jchat_webrtc_download {
	position: absolute;
	background: url(../../images/default/record_download.png) no-repeat;
	background-position: 0 0px;
    right: 185px;
    bottom: 105px;
    height: 20px;
    width: 20px;
	cursor: pointer;
}

#jchat_webrtc_download.jchat_btn_enabled {
	background-position: -24px 0px;
}

#jchat_webrtc_sendvideo {
	position: absolute;
	background: url(../../images/default/record_send.png) no-repeat;
	background-position: 0 0px;
    right: 160px;
    bottom: 105px;
    height: 20px;
    width: 20px;
	cursor: pointer;
}

#jchat_webrtc_sendvideo.jchat_btn_enabled {
	background-position: -24px 0px;
}

#jchat_webrtc_upload {
	position: absolute;
	background: url(../../images/default/record_save.png) no-repeat;
	background-position: 0 0px;
    right: 135px;
    bottom: 105px;
    height: 20px;
    width: 20px;
	cursor: pointer;
}

#jchat_webrtc_upload.jchat_btn_enabled  {
	background-position: -24px 0px;
}

#jchat_webrtc_upload_progress {
	position: absolute;
    right: 30px;
    bottom: 108px;
    height: 15px;
    border: 1px solid #585858;
    border-radius: 2px;
    width: 100px;
	text-align: center;
	line-height: 14px;
	display: none;
}

#jchat_webrtc_upload_progress span {
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	
}

#jchat_wrapper_localvideo_recorder {
	position: relative;
    padding-top: 5px;
    text-align: center;
}

#jchat_wrapper_localvideo_recorder > #jchat_webrtc_record, 
#jchat_wrapper_localvideo_recorder > #jchat_webrtc_pause,
#jchat_wrapper_localvideo_recorder > #jchat_webrtc_stop,
#jchat_wrapper_localvideo_recorder > #jchat_webrtc_view,
#jchat_wrapper_localvideo_recorder > #jchat_webrtc_download,
#jchat_wrapper_localvideo_recorder > #jchat_webrtc_upload
 {
	position: relative;
	bottom: auto;
	right: auto;
 	display: inline-block;
 	margin-right: 5px;
}

#jchat_wrapper_localvideo_recorder > #jchat_webrtc_upload_progress {
    position: absolute;
    top: 5px;
    right: auto;
}

/**
 * Lam ticket form styles
 */
form.ajaxform {
	padding: 6px;
}

form.ajaxform label {
	margin-bottom: 0px;
}

form.ajaxform input {
	width: 99%;
	border: 1px solid #AAA;
	outline-style: none;
	margin-bottom: 4px;
	height: 20px;
}

form.ajaxform textarea {
	width: 99%;
	height: 50px;
	border: 1px solid #AAA;
	outline-style: none;
	margin-bottom: 2px;
	padding: 0;
}

#jchat_wall_popup.jchat_lamform_hidden {
	display: none !important;
}

div.jchat_always_ticket_form {
	display: none;
}

div.jchat_ticketform_collapse {
	height: 10px;
	width: 120px;
	margin: 5px 0 5px 10px;
	cursor: pointer;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

div.jchat_ticketform_collapse:before {
	background: url(../../images/default/open_rotate.png) no-repeat top left;
	width: 8px;
	height: 8px;
	display: inline-block;
	content: '';
	transition: all 0.2s linear;
	margin-right: 4px;
}

div.jchat_ticketform_collapse.opened:before {
	background: url(../../images/default/open_rotate.png) no-repeat top left;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all 0.2s linear;
}

label.jchat_label_title {
	margin-left: 3px;
	color: #333;
	float: left;
}

label.jchat_label_validate {
	margin-left: 5px;
	font-size: 9px;
	color: #999;
	float: left;
	padding-top: 3px;
}

div.jchat_submit_lam_form.disabled {
	background: #38b3dd;
	border: 1px solid #D8D8D8;
	box-shadow: none;
	cursor: auto;
	color: #FFF;
}

div.jchat_submit_lam_form, div.jchat_submit_chatroom_form {
	position: relative;
	-webkit-user-select: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	width: 99%;
	height: 22px;
	color: white;
	margin-top: 10px;
	cursor: pointer;
	background: #F68A32 url(../../images/default/icon_ticket.png) no-repeat 6px 3px;
	border-radius: 5px;
	border: 1px solid #D57230;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px
	 rgba(255, 255, 255, 0.35);
	margin-right: 5px;
}

div.jchat_submit_chatroom_form {
	background: #F68A32;
	width: 50%;
}

div.jchat_submit_chatroom_form {
	margin-left: 3px;
}

form.ajaxform .jchat_error {
	border-color: red;
}

form.ajaxform label.jchat_label_validate.jchat_error {
	color: red;
}

div.jchat_gmap {
	width: 100% !important;
	height: 100% !important;
	display: block;
}

div.jchat_agent_dummy_message {
	position: absolute;
	top: 35px;
	left: 7px;
}

/**
 * Generic left views userslist
 */
div.jchat_userslist_myusername {
	background: url(../../images/default/jchat.png) no-repeat top left;
    background-position: 4px -814px !important;
    padding: 4px 4px 4px 24px;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
    color: #8A8A8A;
    text-align: left;
	min-height: 16px;
}

/**
 * Dummy typing
 */
span.dummy_typing_dots {
	-webkit-animation: typing 1.2s ease-in-out infinite;
	animation: typing 1.2s ease-in-out infinite;
	display: inline-block;
}

@media ( max-width : 799px) {
	 #jchat_localvideo_placeholder, #jchat_localvideo {
		width: 30%;
	}
	
	#jchat_remotevideo_placeholder, #jchat_remotevideo {
		width:30%;
	}
}

@media ( max-width : 639px) {
	.jchat_roomstooltip {
		width: 240px;
	}
	
	.jchat_roomstooltip span.jchat_tab {
		width: 242px;
	}
	
	div.jchat_room {
		clear: both;
	}
	
	.jchat_roomstooltip div.jchat_roomname {
		max-width: 150px;
		font-size: 12px;
	}
	
	#jchat_maximize_wall {
		width: 30px;
		height: 28px;
		margin-right: -14px;
	}
	
	.jchat_roomstooltip div.jchat_room {
		height: 45px;
	}
}

@media ( min-height : 480px) and (max-width : 799px) {
	div.fullscreen #jchat_localvideo_placeholder, div.fullscreen #jchat_localvideo {
		width: 45%;
	}
	
	div.fullscreen #jchat_remotevideo_placeholder, div.fullscreen #jchat_remotevideo {
		width: 45%;
	}
}

@media (max-width : 379px) {
	div.jchat_browser_row span.jchat_support_ok {
		width: 80%;
	}
	
	div.jchat_browser_row span.jchat_support_ko {
		width: 80%;
	}
	div.jchat_infouser_webrtc {
		background-image: url(../../images/default/pointer.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		padding-bottom: 4px;
		position: absolute;
		bottom: 100px;
		left: 80px;
		margin: 0;
		float: none;
	}
}

@media (min-height : 480px) and (min-width : 640px) {
	#jchat_localvideo, #jchat_remotevideo {
		width: 48%;
		min-height: 185px;
	}
}
	
@-webkit-keyframes spin {
	from { transform: rotate(0deg); opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}

@keyframes spin {
	from { transform: rotate(0deg); opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}


@-webkit-keyframes typing {
	from { transform: rotate(0deg) skew(5deg); }
	25%  { transform: rotate(5deg) skew(5deg); }
	50%  { transform: rotate(0deg) skew(0deg); }
	75%  { transform: rotate(-5deg) skew(-5deg); }
	to   { transform: rotate(0deg) skew(0deg); }
}

@keyframes typing {
	from { transform: rotate(0deg) skew(5deg); }
	25%  { transform: rotate(5deg) skew(5deg); }
	50%  { transform: rotate(0deg) skew(0deg); }
	75%  { transform: rotate(-5deg) skew(-5deg); }
	to   { transform: rotate(0deg) skew(0deg); }
}
