#jchat_wall_popup {
	height: 30%;
}

#jchat_userstab_popup {
	height: 42%;
	border-radius: 10px;
	min-height: 430px !important;
}

#jchat_wall_popup.jchat_wall_minimized {
	bottom: 430px;
	min-height: 0;
}

#jchat_userstab.jchat_tab {
	color: #FFF;
	background-color: #0858C2 !important;
	background-position: 0 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#jchat_userstab.jchat_tab.jchat_tabclick {
	border-radius: 0;
}

#jchat_userstab_text {
	color: #FFF;
}

.jchat_tabpopup .jchat_tab {
	border: none;
	background-color: #0858C2;
}

.jchat_userstabtitle {
	color: #FFF;
	background-color: #0858C2 !important;
}

#jchat_myusername {
	color: #FFF;
}

#jchat_users_search {
	background: url(../../images/default/jchat.png) no-repeat #FFF top left;
	color: #000;
	padding: 2px 6px 2px 16px;
	border-radius: 0
}

#jchat_optionsbutton_popup .jchat_userstabtitle {
	background: #0858C2 url(../../images/default/jchat.png) no-repeat 200px -1046px !important;
}

.jchat_trigger_emoticon.toggle_on, .jchat_trigger_room.toggle_on, .jchat_trigger_infoguest.toggle_on, .jchat_trigger_history.toggle_on {
	background-color: #0858C2 !important;
}

.jchat_roomstooltip {
	border: 1px solid #0858C2;
}

.jchat_roomstooltip span.jchat_tab {
	background: #0858C2;
}

.jchat_userstabsubtitle {
	color: #FFF;
	background-color: #0858C2!important;
}

.jchat_emoticonstooltip, .jchat_messaging_emoticonstooltip {
	border: 1px solid #0858C2;
}

.jchat_trigger_fileupload.toggle_on {
	background-color: #0858C2 !important;
}


.jchat_fileuploadtooltip iframe {
	border: 1px solid #0858C2;
}

.jchat_tooltip_fileupload_header {
	background-color: #0858C2!important;
	color: #FFF;
	border-left: 1px solid #0858C2;
	border-right: 1px solid #0858C2;
	border-top: 1px solid #0858C2;
}

.jchat_historytooltip {
	border: 1px solid #0858C2;
}

#jchat_default_suggestion_tooltip.jchat_arm {
	margin-left: -20px;
}

#jchat_default_suggestion_tooltip.jchat_arm::before {
	content: '';
	position: absolute;
	background: url('../../images/default/suggestion.png') no-repeat;
	bottom: -31px;
	right: -45px;
	width: 138px;
	height: 182px;
	border: none;
	box-shadow: none;
	cursor: pointer;
	z-index: -1;
}

#jchat_select_period {
	border-right: 1px solid #3e92bd;
	border-left: 1px solid #3e92bd;
	border-top: 1px solid #3e92bd;
	background: #0858C2 url(../../images/default/jchat.png) no-repeat 195px -424px !important;
}

.jchat_tooltip_header {
	height: 10px;
	background: #0858C2 url(../../images/default/jchat.png) no-repeat 280px -1047px !important;
	color: #FFF;
	border-left: 1px solid #3e92bd;
	border-top: 1px solid #3e92bd;
	border-right: 1px solid #3e92bd;
}

a#setstatusmessage,a#setstatusmessage:visited,a#setstatusmessage:hover {
	color: #0858C2;
}

#uploadform {
	border-bottom: 1px solid #0858C2;
}

/**
 * Info guest box
 */

.jchat_infoguest_title {
	color: #FFF;
	background-color: #0858C2 !important;
}

.jchat_infoguesttooltip {
	border: 1px solid #0858C2;
}

#jchat_maximize_wall.jchat_maximizeimages.maximized, #jchat_maximizebutton.jchat_maximizeimages.maximized {
	background-position: -14px -1807px !important;
}

#jchat_maximize_wall.jchat_maximizeimages {
	background-position: 7px -1807px !important;
}

#jchat_maximizebutton.jchat_maximizeimages {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: 5px -1807px !important;
}

#jchat_maximizebutton.jchat_maximizeimages.maximized {
	background-position: -14px -1807px !important;
}

.jchat_optionsimages {
	background-position: -24px -304px !important;
}

#jchat_userstab.maximized .jchat_optionsimages {
	background-position: -22px -304px !important;
}

.jchat_loginimages {
	background: url(../../images/default/jchat.png) no-repeat top left;
	background-position: -29px -2077px !important;
}

#jchat_userstab.maximized .jchat_loginimages {
	background-position: -24px -2076px !important;
}

.jchat_exitimages {
	background-position: -16px -259px !important;
}

#jchat_userstab_icon, .jchat_user_available2 {
	background-position: -32px -888px !important;
}

#jchat_userstab_icon.jchat_user_available2.jchat_lamform {
    background-position: 0 -535px !important;
}

#jchat_userstab_icon.jchat_user_offline {
	background-position: -32px -686px !important;
}

.jchat_trigger_emoticon.toggle_on,.jchat_trigger_room.toggle_on,.jchat_trigger_infoguest.toggle_on,.jchat_trigger_history.toggle_on,.jchat_trigger_webrtc.toggle_on, div.jchat_trigger_geolocation.toggle_on
	{
	background-color: #0858C2 !important;
}

.jchat_historytooltip,.jchat_webrtctooltip {
	border: 1px solid #0858C2;
}

#jchat_userstab_icon.jchat_expired {
	background-position: -32px -1996px !important;
}

.jchat_trigger_users_informations.toggle_on {
	background-color: #0858C2 !important;
}

span.jchat_lamform_title {
	font-weight: normal;
	font-size: 16px;
	    background: url(../../images/default/livesupport_icon.png) no-repeat top left;
	padding-left: 30px;
	height: 24px;
	display: inline-block;
}

span.jchat_userscount {
	display: none !important;
}

#jchat_userstab_popup .jchat_userstabtitle {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

div.jchat_submit_lam_form, div.jchat_submit_chatroom_form {
    color: #fff;
    text-align: center;
    border: 0;
    cursor: pointer;
    box-sizing: content-box;
    padding: 8px 6px;
	width: 96%;
	background: #3C8AC9 url(../../images/default/icon_ticket.png) no-repeat;
	background-position: 15px 10px !important;
	border-radius: 0;
	font-weight: normal;
	font-size: 14px;
}

div.jchat_submit_chatroom_form {
	background: #3C8AC9;
	width: 95%;
    box-sizing: border-box;
    height: auto;
}

#lamform input {
	height: 30px;
}

#lamform textarea {
	height: 80px;
}

#lamform .jchat_label_title {
	font-weight: bold;
}

div.jchat_nousers_placeholder {
	font-weight: normal;
	color: #000;
	font-size: 12px;
}

div.jchat_userscontent {
	height: 95% !important;
}