.icon-48-assigns {
    background-image: url(../images/l_assigns.png);
    padding-left:60px!important;
}

.icon-48-assign {
    background-image: url(../images/l_assigns.png);
    padding-left:60px!important;
}

.color-box-assigns { 
    float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.padright0{
    padding-right: 0 !important;
}
#adminForm .filter-events.tv-tab li:hover,
#adminForm .filter-events.tv-tab a:hover{
    cursor: pointer;
}
.other-filters{
    padding: 0 14px;
}
#adminForm .filter-events .tv-tab{
    min-width: 250px;
    padding: 0 10px;
}
#adminForm .filter-events.tv-tab li {
    margin: 3px;
    padding: 0;
}
#adminForm .filter-events.tv-tab > li{
    margin: 0;
}
#adminForm .filter-events.tv-tab li a {
    border: 1px solid #bbbbbb;
    min-width: 40px;
    padding: 5px;
    text-align: center;
}
#adminForm .filter-events.tv-tab li a label{
    display: block;
    margin: 0;
}
#adminForm .active{
    background: #bbbbbb;   
}
#adminForm .filter-events.tv-tab > li,
#adminForm .dropdown,
#adminForm .dropdown-toggle{
    text-align: left;
    width: 100%;
}
.view-events #adminForm .filter-events.tv-tab > li{
    width: 49%;
    margin-left: 1%;
}
#adminForm .dropdown-toggle {
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    color: #636363;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-top: 7px;
}
#adminForm .tv-tab .dropdown-menu{
    border-top: none;
}
#adminForm .tv-tab .dropdown-menu > label{
    padding: 3px 15px;
}
#adminForm .tv-tab .dropdown-menu .filter-year li {
    min-width: 52px;
}
.btn-search:hover{
    cursor: pointer;
}
.btn-search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 10px;
    width: 100%;
}
.btn-search label {
    background: #C5C5C5;
    border-radius: 5px;
    color: #fff;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    width: 100%;
}
#adminForm .dropdown-toggle::after{
    position: absolute;
    right: 15px;
    top: 15px;
}
#adminForm label{
    margin: 0;
}
#adminForm .flex-column label{
    padding: 0.5rem 1rem;
    display: block;
}
#adminForm .flex-column .nav-link{
    padding: 0;    
}
.js-stools-field-filter{
    float: left;
    width: 48%;
}
.js-stools-field-filter .input-append{
    position: relative;
}
.js-stools-field-filter input{
    width: 100%;
}
.js-stools-field-filter .input-append button {
    background: rgba(0, 0, 0, 0) url("../images/calender.png") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 11px;
    width: 16px;
}


