
/*
 * Created on : Mar 3, 2018, 11:11:11 AM
 * Author: Tran Trong Thang
 * Email: trantrongthang1207@gmail.com
 * Skype: trantrongthang1207
 */

#employeeList th{
    background: #afbd22;
    color: #fff;
}
#employeeList th a{
    color: #fff;
}
#adminForm label,
#adminForm2 label{
    margin: 0;
}
.filter-char label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.filter-char.tv-tab{
    padding: 15px;
}
#adminForm .filter-char.tv-tab li:hover,
#adminForm .filter-char.tv-tab label:hover,
#adminForm2 .filter-char.tv-tab li:hover,
#adminForm2 .filter-char.tv-tab label:hover{
    cursor: pointer;
}
#adminForm .filter-type.tv-tab li,
#adminForm .filter-char.tv-tab li,
#adminForm2 .filter-type.tv-tab li,
#adminForm2 .filter-char.tv-tab li{
    padding: 0;
}
#adminForm .filter-char.tv-tab li a,
#adminForm2 .filter-char.tv-tab li a{
    padding: 1px 5px;
}
#adminForm2 .filter-char.tv-tab li.active,
#adminForm .filter-char.tv-tab li.active{
    background: #c5c5c5;
    color: #fff;
}
.filter-type.tv-tab{
    padding: 20px 15px 0 15px;
}
.filter-type .form-control,
.borderaround{
    border: 1px solid #6c757d;
    border-radius: 0;
    height: 37px;
    font-size: 16px;
}
.filter-type .marginright,
.filter-type .btn-group{
    margin-right: 15px;
}
#adminForm2 .dropdown-toggle,
#adminForm .dropdown-toggle{
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    color: #636363;
    /*font-size: 20px;*/
    font-weight: bold;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-top: 6px;
    min-width: 270px;
}
#adminForm .filter-events.tv-tab > li,
#adminForm .dropdown,
#adminForm .dropdown-toggle,
#adminForm2 .filter-events.tv-tab > li,
#adminForm2 .dropdown,
#adminForm2 .dropdown-toggle{
    text-align: left;
    width: 100%;
}
#adminForm .dropdown-toggle::after,
#adminForm2 .dropdown-toggle::after{
    position: absolute;
    right: 15px;
    top: 15px;
}
#adminForm .tv-tab .nav.flex-column li,
#adminForm2 .tv-tab .nav.flex-column li{
    border: none;
    padding-left: 15px;
    font-size: 14px;
}
#adminForm .tv-tab .nav.flex-column li.borderbuttom,
#adminForm2 .tv-tab .nav.flex-column li.borderbuttom{
    border-bottom: 1px solid #bbbbbb;
    padding: 0;
}
#adminForm .active,
#adminForm2 .active{
    background: #bbbbbb;   
}
#adminForm .flex-column label,
#adminForm2 .flex-column label{
    padding: 0.5rem 1rem;
    display: block;
}
#adminForm .flex-column .nav-link,
#adminForm2 .flex-column .nav-link{
    padding: 0;    
}
.btn-search{
    color: #fff;
    text-transform: uppercase;
}