
/*
 * Created on : Sep 13, 2017, 3:38:51 PM
 * Author: Tran Trong Thang
 * Email: trantrongthang1207@gmail.com
 * Skype: trantrongthang1207
 */
.input_hide{
    display: none;
}
.portlet-body .control-label .required,
.portlet-body .form-group .required{
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

/*com_adverts79*/
#swfupload-control p{ margin:10px 5px; font-size:0.9em; }
#listfile{ margin:0; padding:0;}
#listfile li{ 
    word-wrap: break-word; list-style: none; float: left;border: 1px solid #ccc;padding: 10px;
    list-style-position:inside; margin:2px 15px 15px 2px; font-size:12px; 
    font-family:Arial, Helvetica, sans-serif; color:#333; background:#fff; position:relative;}
#listfile li .progressbar{ border:1px solid #333; height:5px; background:#fff; }
#listfile li .progress{ background:#999; width:0%; height:5px;
                        padding-bottom: 10px;
}
#listfile li p{ margin:0; line-height:18px;}
#listfile li span.cancel{ position:absolute; top:5px; right:5px; width:20px; height:20px; 
                          background:url('../images/cancel.png') no-repeat; cursor:pointer; }
#listfile li p img{
    max-width: 100%;
}
.imgitem {
    border: 1px solid #ccc;
    display: inline-block;
    height: 160px;
    margin-bottom: 15px;
    margin-right: 15px;
    position: relative;
    vertical-align: top;
}
.imgitem img{
    max-width: 150px;
    max-height: 150px;padding: 10px;
}
.imgitem i,
#listfile li i{
    position: absolute;
    color: red;
    right: -5px;
    top: -5px;
    font-size: 14px
}
.center-block:after{
    clear: both;
    content: "";
    display: table;   
}
.center-block:before{
    content: "";
    float: left;
    padding-bottom: 75%;
}
.slick-slide img {
    cursor: zoom-in;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle;
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
.imginner{
    background-color: #eeeeee;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.vertical-align-helper{
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: middle;
}
.slick-track::after, .slick-track::before {
    content: "";
    display: table;
}
.slick-slide{
    display: inline-block;
    position: relative;
    width: 100%;
}
.slick-slide:after{
    content: "";
    display: block;
    padding-top: 75%;
}
.slick-slide img{
    margin-left: -6px;
    width: 99.7%;
}

.slick_prev, .slick_next{
    background: #000000 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 2em;
    opacity: 0.3;
    outline: medium none;
    position: absolute;
    top: 45%;
}
.slick_prev{
    border-radius: 0 5px 5px 0;
    left: 0;
    padding: 0 13px 0 10px;
    z-index: 1;
}
.slick_next{
    border-radius: 5px 0 0 5px;
    padding: 0 10px 0 13px;
    right: 0;
}
.option0 .page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
    z-index: 1;
} 